sending-connection-request.json
{
  "createdAt": "2025-05-19T10:33:44.730Z",
  "updatedAt": "2025-05-23T15:23:55.000Z",
  "id": "Itlft6m9CMPgj0qi",
  "name": "Sending Connection Request",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        320
      ],
      "id": "ef7b4cb4-5a55-4d0e-8ef0-81b7cbfaa57d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.url;\n\n// Extract the LinkedIn user ID from the URL\nconst userId = url.split('/in/')[1].replace(/\\/$/, '');\n\nreturn { userId };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -960
      ],
      "id": "b91c784f-57ff-48d7-b375-d439b74002db",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://api9.unipile.com:13961/api/v1/users/{{ $json.userId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "notify",
              "value": "true"
            },
            {
              "name": "account_id",
              "value": "NF7Cg5K6TgO5arPcMXsFbA"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -960
      ],
      "id": "b10d300c-fd81-42d6-8017-a4a070cdfeb0",
      "name": "Search for profile and notify view"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        -960
      ],
      "id": "39233a27-f9c1-459b-8545-70b16bfe1f7e",
      "name": "Wait 1hr",
      "webhookId": "5471e76b-87f2-49ec-bbfd-8389168567d2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api9.unipile.com:13961/api/v1/users/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "NF7Cg5K6TgO5arPcMXsFbA"
            },
            {
              "name": "provider_id",
              "value": "={{ $('Search for profile and notify view').item.json.provider_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        -960
      ],
      "id": "f19305fc-47ec-4e3d-81a0-6ff8e33b24a3",
      "name": "Send Invitation Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api9.unipile.com:13961/api/v1/users/invite/sent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "NF7Cg5K6TgO5arPcMXsFbA"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ 50 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -960
      ],
      "id": "30227853-c7ff-4417-980d-1d65aa7da07c",
      "name": "Check Invitations List"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api9.unipile.com:13961/api/v1/linkedin/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "=mY3y9JYZTkujVnzh47yGnQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Webhook').item.json.body.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        500
      ],
      "id": "030f46f5-2278-4b6c-b2fa-2ac490aa7dc4",
      "name": "First 10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api9.unipile.com:13961/api/v1/linkedin/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "mY3y9JYZTkujVnzh47yGnQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "api",
              "value": "sales_navigator"
            },
            {
              "name": "category",
              "value": "people"
            },
            {
              "name": "cursor",
              "value": "={{ $('First 10').item.json.cursor }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        740
      ],
      "id": "ac13e6df-b38e-4365-9a20-e13fedf7f9ca",
      "name": "Second 10"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "resource": "base",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2240,
        -860
      ],
      "id": "ec56bbe9-789a-415b-b880-d66ce73da306",
      "name": "Airtable",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2520,
        -860
      ],
      "id": "9a649353-3ab3-432d-a3b3-6b0a3a64a690",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buying-center",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3060,
        -240
      ],
      "id": "9d88a9af-9c66-4c3c-8ea2-5e1ee4ed3b8c",
      "name": "Webhook1",
      "webhookId": "f4169611-25b7-4958-8f42-469d75d4dc67"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3500,
        -240
      ],
      "id": "7272b771-fe08-4a45-a7e8-3271cff5ac71",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Upload Buying Center",
        "height": 360,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2940,
        -280
      ],
      "id": "c8d22c1c-d8a7-4730-bc1a-b33ff87007ed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "company-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3060,
        -560
      ],
      "id": "047560e5-d922-4c45-aa0a-bb93cd3d71d3",
      "name": "Webhook2",
      "webhookId": "f4169611-25b7-4958-8f42-469d75d4dc67"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3500,
        -560
      ],
      "id": "d1a1ceb7-e41f-465b-99e0-bb68cd7acce3",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## Upload Company Report",
        "height": 360,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2920,
        -680
      ],
      "id": "1471b470-0f7e-4710-8834-616ac3dea115",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblwbSwtFURoGWt1N",
          "mode": "list",
          "cachedResultName": "Buying Center Reports",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblwbSwtFURoGWt1N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.body.company }}",
            "Category": "={{ $json.body.category }}",
            "Research Report": "={{ $json.body['report url'] }}",
            "LinkedIn Profile URL": "={{ $json.body.linkedin }}",
            "Title": "={{ $json.body.title }}",
            "Name": "={{ $json.body.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Decision Maker",
                  "value": "Decision Maker"
                },
                {
                  "name": "Influencer",
                  "value": "Influencer"
                },
                {
                  "name": "Gatekeeper",
                  "value": "Gatekeeper"
                },
                {
                  "name": "End User",
                  "value": "End User"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Research Report",
              "displayName": "Research Report",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3280,
        -240
      ],
      "id": "121bbed6-a4b3-4f67-9ad7-8d3107b67d19",
      "name": "Airtable2",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tbl91s0POVrl6Ow3f",
          "mode": "list",
          "cachedResultName": "Company Research Reports",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tbl91s0POVrl6Ow3f"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.body.company }}",
            "Attachments": "={{ $json.body.url }}",
            "Campaign ID": "manual"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3300,
        -540
      ],
      "id": "fc8b342d-a9d9-4851-8d08-2070d07a729b",
      "name": "Airtable1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-sales-nav",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        500
      ],
      "id": "3d3dc1b3-c73c-4db5-be52-7d12fc5ff556",
      "name": "Webhook",
      "webhookId": "cd8fbd6e-2478-4228-9543-fd42036cb9c7"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblH8JfAV8Sk416Ea",
          "mode": "list",
          "cachedResultName": "Sales Navigator Campaigns",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblH8JfAV8Sk416Ea"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Active": false,
            "Campaign Name": "={{ $('Webhook').item.json.body[\"campaign name\"] }}",
            "URL": "={{ $('Webhook').item.json.body.url }}",
            "Cursor": "No more leads"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2000,
        460
      ],
      "id": "2e34722a-699c-4db3-97a8-7c36fe53749b",
      "name": "Airtable3",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99a2d6f9-d8a1-4203-8ecf-100894a0d117",
              "leftValue": "={{ $('First 10').item.json.cursor }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        480
      ],
      "id": "13623816-9b54-40a5-a77d-a9762a319df0",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99a2d6f9-d8a1-4203-8ecf-100894a0d117",
              "leftValue": "={{ $('Second 10').item.json.cursor }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        760
      ],
      "id": "a50bf1c2-5494-4ed6-9779-3ed723677abd",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblH8JfAV8Sk416Ea",
          "mode": "list",
          "cachedResultName": "Sales Navigator Campaigns",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblH8JfAV8Sk416Ea"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Active": true,
            "Campaign Name": "={{ $('Webhook').item.json.body[\"campaign name\"] }}",
            "URL": "={{ $('Webhook').item.json.body.url }}",
            "Cursor": "={{ $json.cursor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active",
              "displayName": "Active",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2060,
        780
      ],
      "id": "a1772362-0fe2-4dfa-996f-272150f620bf",
      "name": "Airtable4",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scrape Leads from URL",
        "height": 1160,
        "width": 6900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        200
      ],
      "id": "5624597e-42be-43f7-b2a5-e1ca0db93925",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Scrape Completed",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2200,
        620
      ],
      "id": "03a5c429-a403-4bc9-8465-e0b1eab8c9cf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        840,
        740
      ],
      "id": "7482d7c1-d3ed-4b6a-8f24-9d394f01bc07",
      "name": "Wait",
      "webhookId": "301267a9-a2a4-4101-a56c-b2a63c2a7a94"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -120,
        500
      ],
      "id": "37537b0f-3f02-47e8-9279-4e9eab3eeb9c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "var url = $input.first().json.body.url // your full URL\n\nvar queryEncoded = url.split(\"query=\")[1].split(\"&\")[0];\nvar decoded = decodeURIComponent(queryEncoded);\n\nvar rolesSection = decoded.match(/type:CURRENT_TITLE.*?values:List\\((.*?)\\)\\)/)[1];\n\nvar regex = /text:([^\\),]+)/g;\nvar roles = [];\nvar m;\nwhile ((m = regex.exec(rolesSection)) !== null) {\n  roles.push(decodeURIComponent(m[1].replace(/\\+/g, ' ')));\n}\n\nreturn {roles}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        500
      ],
      "id": "421c50f5-ed1c-433c-8347-e178714bf3ab",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "function extractPersonData(jsonData) {\n  const extractedData = [];\n\n  jsonData.forEach(person => {\n    const personName = `${person.first_name} ${person.last_name}`;\n    const linkedinUrl = person.public_profile_url;\n\n    if (person.current_positions && person.current_positions.length > 0) {\n      person.current_positions.forEach(position => {\n        const companyName = position.company;\n        const companyId = position.company_id;\n        const personRole = position.role;\n\n        extractedData.push({\n          personName: personName,\n          linkedinUrl: linkedinUrl,\n          companyName: companyName,\n          personRole: personRole,\n          companyId: companyId,\n        });\n      });\n    }\n  });\n\n  return extractedData;\n}\n\n// Example usage with the provided JSON data:\nconst jsonData = [\n  $input.first().json\n];\n\nconst extractedData = extractPersonData(jsonData);\nreturn(extractedData);\n/*\nOutput:\n[\n  {\n    personName: 'André Pager',\n    linkedinUrl: 'https://www.linkedin.com/in/andr%C3%A9-pager',\n    companyName: 'Lockchain Invest GmbH',\n    personRole: 'Founder & General Manager | Strategy Lead',\n    companyId: '86184231'\n  }\n]\n*/"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        640
      ],
      "id": "d0926bd1-d437-4f56-9b7e-f3022347f6ec",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        100,
        500
      ],
      "id": "9e37e600-55f1-43dd-af7a-c80a0227c560",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblxAvf8laN8kvKVE",
          "mode": "list",
          "cachedResultName": "Scraped Leads",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblxAvf8laN8kvKVE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.companyName }}",
            "LinkedIn Profile URL": "={{ $json.linkedinUrl }}",
            "Name": "={{ $json.personName }}",
            "Title": "={{ $json.personRole }}",
            "Company ID": "={{ $json.companyId }}",
            "Campaign Name": "={{ $('Webhook').item.json.body[\"campaign name\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company ID",
              "displayName": "Company ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        640
      ],
      "id": "341d5b0b-8b83-451b-9156-810fc52f8f0c",
      "name": "Airtable5",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1240,
        780
      ],
      "id": "66f86e5d-33f3-4ee3-98c1-e18a945874db",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "function extractPersonData(jsonData) {\n  const extractedData = [];\n\n  jsonData.forEach(person => {\n    const personName = `${person.first_name} ${person.last_name}`;\n    const linkedinUrl = person.public_profile_url;\n\n    if (person.current_positions && person.current_positions.length > 0) {\n      person.current_positions.forEach(position => {\n        const companyName = position.company;\n        const companyId = position.company_id;\n        const personRole = position.role;\n\n        extractedData.push({\n          personName: personName,\n          linkedinUrl: linkedinUrl,\n          companyName: companyName,\n          personRole: personRole,\n          companyId: companyId,\n        });\n      });\n    }\n  });\n\n  return extractedData;\n}\n\n// Example usage with the provided JSON data:\nconst jsonData = [\n  $input.first().json\n];\n\nconst extractedData = extractPersonData(jsonData);\nreturn(extractedData);\n/*\nOutput:\n[\n  {\n    personName: 'André Pager',\n    linkedinUrl: 'https://www.linkedin.com/in/andr%C3%A9-pager',\n    companyName: 'Lockchain Invest GmbH',\n    personRole: 'Founder & General Manager | Strategy Lead',\n    companyId: '86184231'\n  }\n]\n*/"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        980
      ],
      "id": "110cddaa-e651-4c2d-a5d8-855b84adf032",
      "name": "Code3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        780
      ],
      "id": "f339e6aa-c4e3-4800-adf4-458f635d3a62",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblxAvf8laN8kvKVE",
          "mode": "list",
          "cachedResultName": "Scraped Leads",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblxAvf8laN8kvKVE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.companyName }}",
            "LinkedIn Profile URL": "={{ $json.linkedinUrl }}",
            "Name": "={{ $json.personName }}",
            "Title": "={{ $json.personRole }}",
            "Company ID": "={{ $json.companyId }}",
            "Campaign Name": "={{ $('Webhook').item.json.body[\"campaign name\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company ID",
              "displayName": "Company ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1780,
        980
      ],
      "id": "461a2740-d4db-4c66-95ac-becb12773f21",
      "name": "Airtable6",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        380,
        480
      ],
      "id": "f9f67105-828a-4e8b-9a48-c15080ba8097",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1620,
        760
      ],
      "id": "aae58b0e-9578-4930-a2b3-bd365e015723",
      "name": "Limit1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblxAvf8laN8kvKVE",
          "mode": "list",
          "cachedResultName": "Scraped Leads",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblxAvf8laN8kvKVE"
        },
        "options": {
          "fields": [
            "Company ID",
            "Company Name"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2440,
        400
      ],
      "id": "ca4551af-d32b-4a0d-82d7-ee7c0e5f4de6",
      "name": "Airtable7",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2680,
        400
      ],
      "id": "7eefbb10-9d8b-43a9-aae5-43531e1388ea",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "options": {
          "fields": [
            "Company LinkedIn ID"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3080,
        500
      ],
      "id": "c6d8c32d-b1d6-4239-895a-6a978725573c",
      "name": "Airtable8",
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2900,
        500
      ],
      "id": "4b195844-f7c7-4e73-b450-559779f0262d",
      "name": "Wait 1 sec",
      "webhookId": "ee2f5bff-3cb6-4f72-9444-346645700483"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89b1cdf7-07dd-4d68-bab7-25efc8e79249",
              "leftValue": "={{ $json[\"Company LinkedIn ID\"] }}",
              "rightValue": "={{ $('Wait 1 sec').item.json[\"Company ID\"] }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3440,
        500
      ],
      "id": "5457ff28-c545-44f1-bff2-c69a4ad7a2cd",
      "name": "If2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Company LinkedIn ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3240,
        500
      ],
      "id": "4e75fd11-f778-4fd3-9faf-9c89e5808bc8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Wait 1 sec').item.json[\"Company Name\"] }}",
            "Company LinkedIn ID": "={{ $('Wait 1 sec').item.json[\"Company ID\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company LinkedIn ID",
              "displayName": "Company LinkedIn ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3600,
        700
      ],
      "id": "16b96eca-3667-4ae6-98e7-9cc273217754",
      "name": "Airtable9",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Populate the scraped company table",
        "height": 860,
        "width": 2260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2380,
        220
      ],
      "id": "1b73ac63-b9e5-47d9-9b3d-7bceabb04f1c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent B2B Account-Based Marketing (ABM) agent that generates precise Sales Navigator company search payloads.\n\nYou take a company’s offer and its ideal customer profile (ICP) and output a valid JSON object containing the minimum and most relevant filters for LinkedIn Sales Navigator.\n\nThe payload must always include:\n\n{\n  \"api\": \"sales_navigator\",\n  \"category\": \"companies\"\n}\n\nThen, selectively include any of the following optional filters, only if they are relevant based on the ICP:\n\t•\tindustry.include[] / industry.exclude[]\n\t•\tlocation.include[]\n\t•\theadcount[]\n\t•\theadcount_growth.min / max\n\t•\tdepartment_headcount.department[], min, max\n\t•\tdepartment_headcount_growth.department[], min, max\n\t•\tannual_revenue.min, max, currency\n\t•\ttechnologies[]\n\t•\tkeywords\n\t•\thas_job_offers\n\t•\tnetwork_distance[] (1, 2, 3)\n\t•\tfollowers_count[]\n\t•\tfortune[]\n\t•\trecent_activities[]\n\nBe precise and minimal. Include only the filters that align clearly with the company’s targeting goals.\nThe final output must be a clean, copy-pasteable JSON object.\nDo not use placeholder values—only use what is implied by the ICP or offer.\nNever include keys with null, empty, or default values unless they are clearly relevant.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        720,
        -240
      ],
      "id": "7ae79a6f-ee25-4bf6-947a-39fb57b05118",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -920,
        -340
      ],
      "id": "8803c808-e8f4-4413-b45c-478c9a7c274f",
      "name": "When chat message received",
      "webhookId": "e742276d-6a46-47f2-8e38-9d45e8a345cd"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        -120
      ],
      "id": "b283c00e-6775-4c7d-bd11-a8e7ac6f4819",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GY9rEyWsUn8DJC96",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        -100
      ],
      "id": "0030e380-a07d-4e93-b64a-78ad6802f592",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"abm_agent_payload\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"api\": {\n        \"type\": \"string\",\n        \"description\": \"The API to be used for the ABM agent, for example, sales_navigator.\"\n      },\n      \"category\": {\n        \"type\": \"string\",\n        \"description\": \"The category of accounts to be retrieved, for example, companies.\"\n      },\n      \"industry\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"include\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"exclude\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\n          \"include\",\n          \"exclude\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"location\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"include\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\n          \"include\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"headcount_growth\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"min\": {\n            \"type\": \"number\"\n          },\n          \"max\": {\n            \"type\": \"number\"\n          }\n        },\n        \"required\": [\n          \"min\",\n          \"max\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"department_headcount\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"department\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"min\": {\n            \"type\": \"number\"\n          },\n          \"max\": {\n            \"type\": \"number\"\n          }\n        },\n        \"required\": [\n          \"department\",\n          \"min\",\n          \"max\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"department_headcount_growth\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"department\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"min\": {\n            \"type\": \"number\"\n          },\n          \"max\": {\n            \"type\": \"number\"\n          }\n        },\n        \"required\": [\n          \"department\",\n          \"min\",\n          \"max\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"annual_revenue\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"min\": {\n            \"type\": \"number\"\n          },\n          \"max\": {\n            \"type\": \"number\"\n          },\n          \"currency\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"min\",\n          \"max\",\n          \"currency\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"technologies\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"keywords\": {\n        \"type\": \"string\"\n      },\n      \"has_job_offers\": {\n        \"type\": \"boolean\"\n      },\n      \"headcount\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\"\n            },\n            \"max\": {\n              \"type\": \"number\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"network_distance\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"number\"\n        }\n      },\n      \"followers_count\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\"\n            },\n            \"max\": {\n              \"type\": \"number\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"fortune\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\"\n            },\n            \"max\": {\n              \"type\": \"number\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"recent_activities\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"required\": [\n      \"api\",\n      \"category\",\n      \"industry\",\n      \"location\",\n      \"headcount_growth\",\n      \"department_headcount\",\n      \"department_headcount_growth\",\n      \"annual_revenue\",\n      \"technologies\",\n      \"keywords\",\n      \"has_job_offers\",\n      \"headcount\",\n      \"network_distance\",\n      \"followers_count\",\n      \"fortune\",\n      \"recent_activities\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        780,
        -60
      ],
      "id": "e8608a64-cbbe-4093-83a8-268b8256e8b7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api9.unipile.com:13961/api/v1/linkedin/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "=mY3y9JYZTkujVnzh47yGnQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -820
      ],
      "id": "2dce407f-3f86-443f-bcf2-83574d281bd4",
      "name": "First "
    },
    {
      "parameters": {
        "url": "=https://api9.unipile.com:13961/api/v1/linkedin/company/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "mY3y9JYZTkujVnzh47yGnQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4100,
        540
      ],
      "id": "faec4633-e9b2-462f-97c0-9bbd2f1abf22",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "filterByFormula": "NOT({Company LinkedIn ID} = '')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3180,
        340
      ],
      "id": "44e36022-873f-4af1-91c0-209a85969807",
      "name": "Airtable10",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2900,
        360
      ],
      "id": "ca001eb9-6f41-4436-8a1f-ca2a9e9672b4",
      "name": "Limit2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Company LinkedIn ID",
              "renameField": true,
              "outputFieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3340,
        340
      ],
      "id": "546ca9c7-21cb-45cd-8f89-61654e2942a5",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3480,
        340
      ],
      "id": "86079a06-86ce-4ff4-bfd7-d30252dbea38",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3780,
        340
      ],
      "id": "3fcc0a50-7b79-45ee-9462-09ca82c6361e",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company LinkedIn ID": "={{ $('HTTP Request').item.json.id }}",
            "Domain": "={{ $('Code4').item.json.domain }}"
          },
          "matchingColumns": [
            "Company LinkedIn ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company LinkedIn ID",
              "displayName": "Company LinkedIn ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Offer",
              "displayName": "Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4440,
        540
      ],
      "id": "27b727d2-06e1-4d5c-9ec5-2b14e21e20da",
      "name": "Airtable11",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.website;\n\nlet domain = '';\ntry {\n  if (!url || typeof url !== 'string') {\n    throw new Error('Empty or non-string URL');\n  }\n\n  // Add protocol if missing\n  const normalizedUrl = url.startsWith('http') ? url : 'https://' + url;\n\n  // Use regex to extract domain\n  const match = normalizedUrl.match(/^https?:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)/i);\n  if (match) {\n    domain = match[1].replace(/^www\\./, '');\n  } else {\n    throw new Error('Regex failed to match');\n  }\n} catch (e) {\n  domain = 'Invalid URL';\n}\nconst new_url = \"https://\" + domain\nreturn {\n  domain,\n  \"url\": new_url\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4280,
        540
      ],
      "id": "35b4e2a7-c012-4103-b078-04c11589aa33",
      "name": "Code4"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3940,
        540
      ],
      "id": "90073699-2ea7-4503-81da-d7b0155716c1",
      "name": "Wait 5 secs",
      "webhookId": "3111cdc7-f38d-43d9-b5fb-2d24c29bab95"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4640,
        320
      ],
      "id": "a538cf67-9232-40c1-8d91-06ce716ebd65",
      "name": "Limit3"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "filterByFormula": "NOT({Company LinkedIn ID} = '')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4900,
        320
      ],
      "id": "4914d886-a33c-41f7-8c14-5a90e3c4ebc0",
      "name": "Airtable12",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5120,
        320
      ],
      "id": "6c97230f-3955-4cdf-baab-02cae74f4622",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "content": "## Send Over To Prospecting Manager",
        "height": 860,
        "width": 1160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4660,
        220
      ],
      "id": "5789c58a-db88-4a05-a1dd-d2d6b90d007b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5300,
        460
      ],
      "id": "94e5f5f7-186f-4f1c-9b89-846c077f6681",
      "name": "Wait 2 secs",
      "webhookId": "b4d5ad5e-9094-4b47-9424-8e247232cd30"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-d7b62b.stack.tryrelevance.com/latest/agents/hooks/custom-trigger/574b2a0d93ba-47db-9ad2-d45695117887/9f5fb825-28a9-45df-bde7-7650d12c41f6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json[\"Company Name\"] }}"
            },
            {
              "name": "domain",
              "value": "={{ $json.Domain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        460
      ],
      "id": "362fbd8c-c63b-404e-ad7a-d349ed43362f",
      "name": "Call Prospecting Manager"
    },
    {
      "parameters": {
        "path": "f9e76d14-eab2-403d-bd5e-5d606339de02",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4560,
        20
      ],
      "id": "0f43920f-9365-4271-ad1e-57a7749e7a9f",
      "name": "Webhook3",
      "webhookId": "f9e76d14-eab2-403d-bd5e-5d606339de02"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvJIV7kQUXKwb0",
          "mode": "list",
          "cachedResultName": "Xquer Prospects",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0"
        },
        "table": {
          "__rl": true,
          "value": "tblaaEXDqOEBEcgFy",
          "mode": "list",
          "cachedResultName": "Scraped Companies",
          "cachedResultUrl": "https://airtable.com/appRvJIV7kQUXKwb0/tblaaEXDqOEBEcgFy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company LinkedIn ID": "={{ $('Wait 2 secs').item.json[\"Company LinkedIn ID\"] }}",
            "Select": "Researched"
          },
          "matchingColumns": [
            "Company LinkedIn ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company LinkedIn ID",
              "displayName": "Company LinkedIn ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Select",
              "displayName": "Select",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Researched",
                  "value": "Researched"
                },
                {
                  "name": "Awaiting",
                  "value": "Awaiting"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Offer",
              "displayName": "Offer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5640,
        460
      ],
      "id": "b8368dfd-51b4-4420-a0b7-ff65251c5a78",
      "name": "Airtable13",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "hTfQD5z5RPdGe4iG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "Help me create a sales navigator url, here are my companies details:\n\nCompany Name: RevGeni.ai\n\nIndustry: Software & Technology\n\nCompany Size: 1-10 employees\n\nDescription: RevGeni.ai delivers pre-built AI agents, known as Genies, designed to streamline and enhance Marketing, Sales, and Customer Success operations for B2B SMBs. Their digital assistants automate tasks such as lead research, content creation, and CRM updates to increase operational efficiency. By making advanced AI solutions easily accessible to small and medium-sized businesses, RevGeni.ai empowers teams to overcome resource constraints, drive growth, and focus on core business objectives.\n\nTarget Audience: B2B small and medium-sized businesses seeking to automate and enhance their marketing, sales, and customer success operations.\n\nGeographic Markets: United Kingdom, Europe\n\nBrand Voices: friendly, helpful, creative\n\nUnique Value Proposition: Pre-built, modular AI agents designed specifically for B2B SMBs to automate marketing, sales, and customer success tasks, making advanced AI accessible and impactful for small teams.\n\nKey Marketing Messages: Unlock enterprise-level performance for SMBs, Automate sales and marketing with AI agents\n\nCompetitors\nsalesai.com\n11x.ai\nvesely.ai\nairevbots.com"
            },
            {
              "content": "You are an expert in constructing LinkedIn Sales Navigator company search URLs for account-based marketing (ABM). Your task is to generate the most relevant company search URL using only the filter options and values specified below. The user will provide company attributes and a value proposition. You must reverse-engineer these inputs into a Sales Navigator URL that includes only valid and predefined filters.\n\nAllowed Filters and Values:\n\n1. Company Headcount:\n\t•\tB: 1–10\n\t•\tC: 11–50\n\t•\tD: 51–200\n\t•\tE: 201–500\n\t•\tF: 501–1,000\n\t•\tG: 1,001–5,000\n\t•\tH: 5,001–10,000\n\t•\tI: 10,001+\n\n2. Company Headcount Growth (% range. Min must be {>=0} max must be {>min}):\n\t•\tMin: 10 \n\t•\tMax: 14 \n\n3. Region:\n\t•\t102221843: North America\n\t•\t102393603: Asia\n\t•\t100506914: Europe\n\t•\t103537801: Africa\n\t•\t104514572: South America\n\t•\t101452733: Australia\n\t•\t102890883: China\n\t•\t101355337: Japan\n\t•\t103644278: United States\n\t•\t101165590: United Kingdom\n\n4. Job Opportunities:\n\t•\tJO1: Hiring on LinkedIn\n\n5. Account Activities:\n\t•\tSLC: Senior leadership changes (last 3 months)\n\t•\tRFE: Funding events (past 12 months)\n\n6. ndustries with IDs:\n\nID\tIndustry Name\n43\tFinancial Services\n1810\tProfessional Services\n25\tManufacturing\n1594\tTechnology, Information and Media\n1999\tEducation\n4\tSoftware Development\n6\tTechnology, Information and Internet\n9\tLaw Practice\n10\tLegal Services\n11\tBusiness Consulting and Services\n13\tMedical Practices\n3085\tTransportation Programs\n19\tRetail Apparel and Fashion\n20\tSporting Goods Manufacturing\n23\tFood and Beverage Manufacturing\n3095\tOil Extraction\n24\tComputers and Electronics Manufacturing\n3102\tIT System Custom Software Development\n3103\tIT System Operations and Maintenance\n3106\tIT System Data Services\n44\tReal Estate\n47\tAccounting\n50\tArchitecture and Planning\n3128\tBusiness Intelligence Platforms\n3133\tMedia and Telecommunications\n75\tGovernment Administration\n84\tInformation Services\n96\tIT Services and IT Consulting\n41\tBanking\n45\tInvestment Banking\n2353\tHealth and Human Services\n14\tHospitals and Health Care\n139\tMental Health Care\n2358\tPublic Health\n2074\tHome Health Care Services\n1359\tRetail Health and Personal Care Products\n68\tHigher Education\n67\tPrimary and Secondary Education\n69\tEducation Administration Programs\n132\tE-Learning Providers\n22\tRetail Groceries\n27\tRetail\n111\tRetail Art Supplies\n3186\tRetail Art Dealers\n138\tRetail Office Equipment\n143\tRetail Luxury Goods and Jewelry\n3250\tRetail Pharmacies\n1292\tRetail Motor Vehicles\n1309\tRetail Furniture and Home Furnishings\n1339\tFood and Beverage Retail\n1445\tOnline and Mail Order Retail\n1\tDefense and Space Manufacturing\n3\tComputer Hardware Manufacturing\n1029\tTransportation Equipment Manufacturing\n15\tPharmaceutical Manufacturing\n1042\tMotor Vehicle Parts Manufacturing\n18\tPersonal Care Product Manufacturing\n17\tMedical Equipment Manufacturing\n7\tSemiconductor Manufacturing\n97\tMarket Research\n1862\tMarketing Services\n80\tAdvertising Services\n\n7. Number of Followers:\n\t•\tNFR1: 1–50\n\t•\tNFR2: 51–100\n\t•\tNFR3: 101–1,000\n\t•\tNFR4: 1,001–5,000\n\t•\tNFR5: 5,001+\n\n8. Fortune Ranking:\n\t•\t1: Fortune 50\n\t•\t2: Fortune 51–100\n\t•\t3: Fortune 101–250\n\t•\t4: Fortune 251–500\n\nInstructions:\n\t•\tUse only the IDs and text values listed above.\n\t•\tDo not fabricate or infer filters or values not explicitly included.\n\t•\tOutput must be a complete LinkedIn Sales Navigator company search URL.\n\t•\tInclude all filters that align with the user’s inputs, ensuring relevance and precision.\n\nWhen ready, ask the user for the following:\n\t1.\tTheir value proposition.\n\t2.\tIdeal customer profile (headcount range, region, industry, etc.).\n\t3.\tAny specific company signals they are looking for (e.g., recent funding, hiring).\n\n⸻\n\nExample:  https://www.linkedin.com/sales/search/company#query=(filters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1%252C000%2CselectionType%3AINCLUDED)%2C(id%3AG%2Ctext%3A1%252C001-5%252C000%2CselectionType%3AINCLUDED)%2C(id%3AH%2Ctext%3A5%252C001-10%252C000%2CselectionType%3AINCLUDED)%2C(id%3AI%2Ctext%3A10%252C001%252B%2CselectionType%3AINCLUDED)))%2C(type%3ACOMPANY_HEADCOUNT_GROWTH%2CrangeValue%3A(min%3A10%2Cmax%3A14))%2C(type%3AREGION%2Cvalues%3AList((id%3A102221843%2Ctext%3ANorth%2520America%2CselectionType%3AINCLUDED)%2C(id%3A102393603%2Ctext%3AAsia%2CselectionType%3AINCLUDED)%2C(id%3A100506914%2Ctext%3AEurope%2CselectionType%3AINCLUDED)%2C(id%3A103537801%2Ctext%3AAfrica%2CselectionType%3AINCLUDED)%2C(id%3A104514572%2Ctext%3ASouth%2520America%2CselectionType%3AINCLUDED)%2C(id%3A101452733%2Ctext%3AAustralia%2CselectionType%3AINCLUDED)%2C(id%3A102890883%2Ctext%3AChina%2CselectionType%3AINCLUDED)%2C(id%3A101355337%2Ctext%3AJapan%2CselectionType%3AINCLUDED)%2C(id%3A103644278%2Ctext%3AUnited%2520States%2CselectionType%3AINCLUDED)%2C(id%3A101165590%2Ctext%3AUnited%2520Kingdom%2CselectionType%3AINCLUDED)))%2C(type%3AJOB_OPPORTUNITIES%2Cvalues%3AList((id%3AJO1%2Ctext%3AHiring%2520on%2520Linkedin%2CselectionType%3AINCLUDED)))%2C(type%3AACCOUNT_ACTIVITIES%2Cvalues%3AList((id%3ASLC%2Ctext%3ASenior%2520leadership%2520changes%2520in%2520last%25203%2520months%2CselectionType%3AINCLUDED)%2C(id%3ARFE%2Ctext%3AFunding%2520events%2520in%2520past%252012%2520months%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A43%2Ctext%3AFinancial%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A1810%2Ctext%3AProfessional%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A25%2Ctext%3AManufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1594%2Ctext%3ATechnology%252C%2520Information%2520and%2520Media%2CselectionType%3AINCLUDED)%2C(id%3A1999%2Ctext%3AEducation%2CselectionType%3AINCLUDED)%2C(id%3A4%2Ctext%3ASoftware%2520Development%2CselectionType%3AINCLUDED)%2C(id%3A6%2Ctext%3ATechnology%252C%2520Information%2520and%2520Internet%2CselectionType%3AINCLUDED)%2C(id%3A9%2Ctext%3ALaw%2520Practice%2CselectionType%3AINCLUDED)%2C(id%3A10%2Ctext%3ALegal%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A11%2Ctext%3ABusiness%2520Consulting%2520and%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A13%2Ctext%3AMedical%2520Practices%2CselectionType%3AINCLUDED)%2C(id%3A3085%2Ctext%3ATransportation%2520Programs%2CselectionType%3AINCLUDED)%2C(id%3A19%2Ctext%3ARetail%2520Apparel%2520and%2520Fashion%2CselectionType%3AINCLUDED)%2C(id%3A20%2Ctext%3ASporting%2520Goods%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A23%2Ctext%3AFood%2520and%2520Beverage%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3095%2Ctext%3AOil%2520Extraction%2CselectionType%3AINCLUDED)%2C(id%3A24%2Ctext%3AComputers%2520and%2520Electronics%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3102%2Ctext%3AIT%2520System%2520Custom%2520Software%2520Development%2CselectionType%3AINCLUDED)%2C(id%3A3103%2Ctext%3AIT%2520System%2520Operations%2520and%2520Maintenance%2CselectionType%3AINCLUDED)%2C(id%3A3106%2Ctext%3AIT%2520System%2520Data%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A44%2Ctext%3AReal%2520Estate%2CselectionType%3AINCLUDED)%2C(id%3A47%2Ctext%3AAccounting%2CselectionType%3AINCLUDED)%2C(id%3A50%2Ctext%3AArchitecture%2520and%2520Planning%2CselectionType%3AINCLUDED)%2C(id%3A3128%2Ctext%3ABusiness%2520Intelligence%2520Platforms%2CselectionType%3AINCLUDED)%2C(id%3A3133%2Ctext%3AMedia%2520and%2520Telecommunications%2CselectionType%3AINCLUDED)%2C(id%3A75%2Ctext%3AGovernment%2520Administration%2CselectionType%3AINCLUDED)%2C(id%3A84%2Ctext%3AInformation%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A96%2Ctext%3AIT%2520Services%2520and%2520IT%2520Consulting%2CselectionType%3AINCLUDED)%2C(id%3A41%2Ctext%3ABanking%2CselectionType%3AINCLUDED)%2C(id%3A45%2Ctext%3AInvestment%2520Banking%2CselectionType%3AINCLUDED)%2C(id%3A2353%2Ctext%3AHealth%2520and%2520Human%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A14%2Ctext%3AHospitals%2520and%2520Health%2520Care%2CselectionType%3AINCLUDED)%2C(id%3A139%2Ctext%3AMental%2520Health%2520Care%2CselectionType%3AINCLUDED)%2C(id%3A2358%2Ctext%3APublic%2520Health%2CselectionType%3AINCLUDED)%2C(id%3A2074%2Ctext%3AHome%2520Health%2520Care%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A1359%2Ctext%3ARetail%2520Health%2520and%2520Personal%2520Care%2520Products%2CselectionType%3AINCLUDED)%2C(id%3A68%2Ctext%3AHigher%2520Education%2CselectionType%3AINCLUDED)%2C(id%3A67%2Ctext%3APrimary%2520and%2520Secondary%2520Education%2CselectionType%3AINCLUDED)%2C(id%3A69%2Ctext%3AEducation%2520Administration%2520Programs%2CselectionType%3AINCLUDED)%2C(id%3A132%2Ctext%3AE-Learning%2520Providers%2CselectionType%3AINCLUDED)%2C(id%3A22%2Ctext%3ARetail%2520Groceries%2CselectionType%3AINCLUDED)%2C(id%3A27%2Ctext%3ARetail%2CselectionType%3AINCLUDED)%2C(id%3A111%2Ctext%3ARetail%2520Art%2520Supplies%2CselectionType%3AINCLUDED)%2C(id%3A3186%2Ctext%3ARetail%2520Art%2520Dealers%2CselectionType%3AINCLUDED)%2C(id%3A138%2Ctext%3ARetail%2520Office%2520Equipment%2CselectionType%3AINCLUDED)%2C(id%3A143%2Ctext%3ARetail%2520Luxury%2520Goods%2520and%2520Jewelry%2CselectionType%3AINCLUDED)%2C(id%3A3250%2Ctext%3ARetail%2520Pharmacies%2CselectionType%3AINCLUDED)%2C(id%3A1292%2Ctext%3ARetail%2520Motor%2520Vehicles%2CselectionType%3AINCLUDED)%2C(id%3A1309%2Ctext%3ARetail%2520Furniture%2520and%2520Home%2520Furnishings%2CselectionType%3AINCLUDED)%2C(id%3A1339%2Ctext%3AFood%2520and%2520Beverage%2520Retail%2CselectionType%3AINCLUDED)%2C(id%3A1445%2Ctext%3AOnline%2520and%2520Mail%2520Order%2520Retail%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3ADefense%2520and%2520Space%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3%2Ctext%3AComputer%2520Hardware%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1029%2Ctext%3ATransportation%2520Equipment%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A15%2Ctext%3APharmaceutical%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1042%2Ctext%3AMotor%2520Vehicle%2520Parts%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A18%2Ctext%3APersonal%2520Care%2520Product%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AMedical%2520Equipment%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A7%2Ctext%3ASemiconductor%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A97%2Ctext%3AMarket%2520Research%2CselectionType%3AINCLUDED)%2C(id%3A1862%2Ctext%3AMarketing%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A80%2Ctext%3AAdvertising%2520Services%2CselectionType%3AINCLUDED)))%2C(type%3ANUM_OF_FOLLOWERS%2Cvalues%3AList((id%3ANFR1%2Ctext%3A1-50%2CselectionType%3AINCLUDED)%2C(id%3ANFR2%2Ctext%3A51-100%2CselectionType%3AINCLUDED)%2C(id%3ANFR3%2Ctext%3A101-1000%2CselectionType%3AINCLUDED)%2C(id%3ANFR4%2Ctext%3A1001-5000%2CselectionType%3AINCLUDED)%2C(id%3ANFR5%2Ctext%3A5001%252B%2CselectionType%3AINCLUDED)))%2C(type%3AFORTUNE%2Cvalues%3AList((id%3A1%2Ctext%3AFortune%252050%2CselectionType%3AINCLUDED)%2C(id%3A2%2Ctext%3AFortune%252051-100%2CselectionType%3AINCLUDED)%2C(id%3A3%2Ctext%3AFortune%2520101-250%2CselectionType%3AINCLUDED)%2C(id%3A4%2Ctext%3AFortune%2520251-500%2CselectionType%3AINCLUDED)))))&sessionId=uPfwF0yaTKeb%2FRZ3XJ5qIw%3D%3D&viewAllFilters=true",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        -600
      ],
      "id": "3f43e138-92b2-439e-8546-f7c8addf3bec",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GY9rEyWsUn8DJC96",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are an assistant that helps prepare input for a Sales Navigator URL generation agent. A user will provide you with detailed company information, including their company description, industry, target audience, geography, and competitors. Your task is to extract and reformat this into the precise format required by the next agent.\n\nGiven the user’s company information, extract and structure the following:\n\t1.\tValue Proposition: Clearly summarize what the company offers to its target audience in one or two sentences.\n\t2.\tIdeal Customer Profile (ICP):\n\t•\tHeadcount Range: Estimate the ideal customer’s employee size range based on the target audience and the company’s own size.\n\t•\tRegions: Extract the mentioned geographic markets and map them to LinkedIn Sales Navigator region IDs if possible.\n\t•\tIndustries: Map the company’s target industries to the closest allowed LinkedIn Sales Navigator industry filter names and include the corresponding industry IDs.\n\t3.\tCompany Signals (Optional): Identify any relevant buying signals such as:\n\t•\tRecently funded companies\n\t•\tCompanies currently hiring\n\t•\tCompanies with recent leadership changes\n\nYour output must follow this structure:\n\n1. Value Proposition: [Your output here]\n\n2. Ideal Customer Profile:\n- Headcount Range: [e.g., 11–50, 51–200]\n- Regions: [List countries/regions + LinkedIn region IDs]\n- Industries: [List industry names + LinkedIn industry IDs]\n\n3. Company Signals:\n- [List relevant signals, if any]\n\nBe concise, relevant, and ensure you only use LinkedIn-allowed filter values for headcount, industries, and geography."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -760,
        -340
      ],
      "id": "6bea57f4-d143-48e3-9f13-790c5921d8e0",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in constructing LinkedIn Sales Navigator company search URLs for account-based marketing (ABM). Your task is to generate the most relevant company search URL using only the filter options and values specified below. The user will provide company attributes and a value proposition. You must reverse-engineer these inputs into a Sales Navigator URL that includes only valid and predefined filters.\n\nAllowed Filters and Values:\n\n1. Company Headcount:\n\t•\tB: 1–10\n\t•\tC: 11–50\n\t•\tD: 51–200\n\t•\tE: 201–500\n\t•\tF: 501–1,000\n\t•\tG: 1,001–5,000\n\t•\tH: 5,001–10,000\n\t•\tI: 10,001+\n\n2. Company Headcount Growth (% range. Min must be {>=0} max must be {>min}):\n\t•\tMin: 10 \n\t•\tMax: 14 \n\n3. Region:\n\t•\t102221843: North America\n\t•\t102393603: Asia\n\t•\t100506914: Europe\n\t•\t103537801: Africa\n\t•\t104514572: South America\n\t•\t101452733: Australia\n\t•\t102890883: China\n\t•\t101355337: Japan\n\t•\t103644278: United States\n\t•\t101165590: United Kingdom\n\n4. Job Opportunities:\n\t•\tJO1: Hiring on LinkedIn\n\n5. Account Activities:\n\t•\tSLC: Senior leadership changes (last 3 months)\n\t•\tRFE: Funding events (past 12 months)\n\n6. ndustries with IDs:\n\nID\tIndustry Name\n43\tFinancial Services\n1810\tProfessional Services\n25\tManufacturing\n1594\tTechnology, Information and Media\n1999\tEducation\n4\tSoftware Development\n6\tTechnology, Information and Internet\n9\tLaw Practice\n10\tLegal Services\n11\tBusiness Consulting and Services\n13\tMedical Practices\n3085\tTransportation Programs\n19\tRetail Apparel and Fashion\n20\tSporting Goods Manufacturing\n23\tFood and Beverage Manufacturing\n3095\tOil Extraction\n24\tComputers and Electronics Manufacturing\n3102\tIT System Custom Software Development\n3103\tIT System Operations and Maintenance\n3106\tIT System Data Services\n44\tReal Estate\n47\tAccounting\n50\tArchitecture and Planning\n3128\tBusiness Intelligence Platforms\n3133\tMedia and Telecommunications\n75\tGovernment Administration\n84\tInformation Services\n96\tIT Services and IT Consulting\n41\tBanking\n45\tInvestment Banking\n2353\tHealth and Human Services\n14\tHospitals and Health Care\n139\tMental Health Care\n2358\tPublic Health\n2074\tHome Health Care Services\n1359\tRetail Health and Personal Care Products\n68\tHigher Education\n67\tPrimary and Secondary Education\n69\tEducation Administration Programs\n132\tE-Learning Providers\n22\tRetail Groceries\n27\tRetail\n111\tRetail Art Supplies\n3186\tRetail Art Dealers\n138\tRetail Office Equipment\n143\tRetail Luxury Goods and Jewelry\n3250\tRetail Pharmacies\n1292\tRetail Motor Vehicles\n1309\tRetail Furniture and Home Furnishings\n1339\tFood and Beverage Retail\n1445\tOnline and Mail Order Retail\n1\tDefense and Space Manufacturing\n3\tComputer Hardware Manufacturing\n1029\tTransportation Equipment Manufacturing\n15\tPharmaceutical Manufacturing\n1042\tMotor Vehicle Parts Manufacturing\n18\tPersonal Care Product Manufacturing\n17\tMedical Equipment Manufacturing\n7\tSemiconductor Manufacturing\n97\tMarket Research\n1862\tMarketing Services\n80\tAdvertising Services\n\n7. Number of Followers:\n\t•\tNFR1: 1–50\n\t•\tNFR2: 51–100\n\t•\tNFR3: 101–1,000\n\t•\tNFR4: 1,001–5,000\n\t•\tNFR5: 5,001+\n\n8. Fortune Ranking:\n\t•\t1: Fortune 50\n\t•\t2: Fortune 51–100\n\t•\t3: Fortune 101–250\n\t•\t4: Fortune 251–500\n\nInstructions:\n\t•\tUse only the IDs and text values listed above.\n\t•\tDo not fabricate or infer filters or values not explicitly included.\n\t•\tOutput must be a complete LinkedIn Sales Navigator company search URL.\n\t•\tInclude all filters that align with the user’s inputs, ensuring relevance and precision.\n\nWhen ready, ask the user for the following:\n\t1.\tTheir value proposition.\n\t2.\tIdeal customer profile (headcount range, region, industry, etc.).\n\t3.\tAny specific company signals they are looking for (e.g., recent funding, hiring).\n\n⸻\n\nExample:  https://www.linkedin.com/sales/search/company#query=(filters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1%252C000%2CselectionType%3AINCLUDED)%2C(id%3AG%2Ctext%3A1%252C001-5%252C000%2CselectionType%3AINCLUDED)%2C(id%3AH%2Ctext%3A5%252C001-10%252C000%2CselectionType%3AINCLUDED)%2C(id%3AI%2Ctext%3A10%252C001%252B%2CselectionType%3AINCLUDED)))%2C(type%3ACOMPANY_HEADCOUNT_GROWTH%2CrangeValue%3A(min%3A10%2Cmax%3A14))%2C(type%3AREGION%2Cvalues%3AList((id%3A102221843%2Ctext%3ANorth%2520America%2CselectionType%3AINCLUDED)%2C(id%3A102393603%2Ctext%3AAsia%2CselectionType%3AINCLUDED)%2C(id%3A100506914%2Ctext%3AEurope%2CselectionType%3AINCLUDED)%2C(id%3A103537801%2Ctext%3AAfrica%2CselectionType%3AINCLUDED)%2C(id%3A104514572%2Ctext%3ASouth%2520America%2CselectionType%3AINCLUDED)%2C(id%3A101452733%2Ctext%3AAustralia%2CselectionType%3AINCLUDED)%2C(id%3A102890883%2Ctext%3AChina%2CselectionType%3AINCLUDED)%2C(id%3A101355337%2Ctext%3AJapan%2CselectionType%3AINCLUDED)%2C(id%3A103644278%2Ctext%3AUnited%2520States%2CselectionType%3AINCLUDED)%2C(id%3A101165590%2Ctext%3AUnited%2520Kingdom%2CselectionType%3AINCLUDED)))%2C(type%3AJOB_OPPORTUNITIES%2Cvalues%3AList((id%3AJO1%2Ctext%3AHiring%2520on%2520Linkedin%2CselectionType%3AINCLUDED)))%2C(type%3AACCOUNT_ACTIVITIES%2Cvalues%3AList((id%3ASLC%2Ctext%3ASenior%2520leadership%2520changes%2520in%2520last%25203%2520months%2CselectionType%3AINCLUDED)%2C(id%3ARFE%2Ctext%3AFunding%2520events%2520in%2520past%252012%2520months%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A43%2Ctext%3AFinancial%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A1810%2Ctext%3AProfessional%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A25%2Ctext%3AManufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1594%2Ctext%3ATechnology%252C%2520Information%2520and%2520Media%2CselectionType%3AINCLUDED)%2C(id%3A1999%2Ctext%3AEducation%2CselectionType%3AINCLUDED)%2C(id%3A4%2Ctext%3ASoftware%2520Development%2CselectionType%3AINCLUDED)%2C(id%3A6%2Ctext%3ATechnology%252C%2520Information%2520and%2520Internet%2CselectionType%3AINCLUDED)%2C(id%3A9%2Ctext%3ALaw%2520Practice%2CselectionType%3AINCLUDED)%2C(id%3A10%2Ctext%3ALegal%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A11%2Ctext%3ABusiness%2520Consulting%2520and%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A13%2Ctext%3AMedical%2520Practices%2CselectionType%3AINCLUDED)%2C(id%3A3085%2Ctext%3ATransportation%2520Programs%2CselectionType%3AINCLUDED)%2C(id%3A19%2Ctext%3ARetail%2520Apparel%2520and%2520Fashion%2CselectionType%3AINCLUDED)%2C(id%3A20%2Ctext%3ASporting%2520Goods%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A23%2Ctext%3AFood%2520and%2520Beverage%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3095%2Ctext%3AOil%2520Extraction%2CselectionType%3AINCLUDED)%2C(id%3A24%2Ctext%3AComputers%2520and%2520Electronics%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3102%2Ctext%3AIT%2520System%2520Custom%2520Software%2520Development%2CselectionType%3AINCLUDED)%2C(id%3A3103%2Ctext%3AIT%2520System%2520Operations%2520and%2520Maintenance%2CselectionType%3AINCLUDED)%2C(id%3A3106%2Ctext%3AIT%2520System%2520Data%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A44%2Ctext%3AReal%2520Estate%2CselectionType%3AINCLUDED)%2C(id%3A47%2Ctext%3AAccounting%2CselectionType%3AINCLUDED)%2C(id%3A50%2Ctext%3AArchitecture%2520and%2520Planning%2CselectionType%3AINCLUDED)%2C(id%3A3128%2Ctext%3ABusiness%2520Intelligence%2520Platforms%2CselectionType%3AINCLUDED)%2C(id%3A3133%2Ctext%3AMedia%2520and%2520Telecommunications%2CselectionType%3AINCLUDED)%2C(id%3A75%2Ctext%3AGovernment%2520Administration%2CselectionType%3AINCLUDED)%2C(id%3A84%2Ctext%3AInformation%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A96%2Ctext%3AIT%2520Services%2520and%2520IT%2520Consulting%2CselectionType%3AINCLUDED)%2C(id%3A41%2Ctext%3ABanking%2CselectionType%3AINCLUDED)%2C(id%3A45%2Ctext%3AInvestment%2520Banking%2CselectionType%3AINCLUDED)%2C(id%3A2353%2Ctext%3AHealth%2520and%2520Human%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A14%2Ctext%3AHospitals%2520and%2520Health%2520Care%2CselectionType%3AINCLUDED)%2C(id%3A139%2Ctext%3AMental%2520Health%2520Care%2CselectionType%3AINCLUDED)%2C(id%3A2358%2Ctext%3APublic%2520Health%2CselectionType%3AINCLUDED)%2C(id%3A2074%2Ctext%3AHome%2520Health%2520Care%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A1359%2Ctext%3ARetail%2520Health%2520and%2520Personal%2520Care%2520Products%2CselectionType%3AINCLUDED)%2C(id%3A68%2Ctext%3AHigher%2520Education%2CselectionType%3AINCLUDED)%2C(id%3A67%2Ctext%3APrimary%2520and%2520Secondary%2520Education%2CselectionType%3AINCLUDED)%2C(id%3A69%2Ctext%3AEducation%2520Administration%2520Programs%2CselectionType%3AINCLUDED)%2C(id%3A132%2Ctext%3AE-Learning%2520Providers%2CselectionType%3AINCLUDED)%2C(id%3A22%2Ctext%3ARetail%2520Groceries%2CselectionType%3AINCLUDED)%2C(id%3A27%2Ctext%3ARetail%2CselectionType%3AINCLUDED)%2C(id%3A111%2Ctext%3ARetail%2520Art%2520Supplies%2CselectionType%3AINCLUDED)%2C(id%3A3186%2Ctext%3ARetail%2520Art%2520Dealers%2CselectionType%3AINCLUDED)%2C(id%3A138%2Ctext%3ARetail%2520Office%2520Equipment%2CselectionType%3AINCLUDED)%2C(id%3A143%2Ctext%3ARetail%2520Luxury%2520Goods%2520and%2520Jewelry%2CselectionType%3AINCLUDED)%2C(id%3A3250%2Ctext%3ARetail%2520Pharmacies%2CselectionType%3AINCLUDED)%2C(id%3A1292%2Ctext%3ARetail%2520Motor%2520Vehicles%2CselectionType%3AINCLUDED)%2C(id%3A1309%2Ctext%3ARetail%2520Furniture%2520and%2520Home%2520Furnishings%2CselectionType%3AINCLUDED)%2C(id%3A1339%2Ctext%3AFood%2520and%2520Beverage%2520Retail%2CselectionType%3AINCLUDED)%2C(id%3A1445%2Ctext%3AOnline%2520and%2520Mail%2520Order%2520Retail%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3ADefense%2520and%2520Space%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A3%2Ctext%3AComputer%2520Hardware%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1029%2Ctext%3ATransportation%2520Equipment%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A15%2Ctext%3APharmaceutical%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A1042%2Ctext%3AMotor%2520Vehicle%2520Parts%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A18%2Ctext%3APersonal%2520Care%2520Product%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AMedical%2520Equipment%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A7%2Ctext%3ASemiconductor%2520Manufacturing%2CselectionType%3AINCLUDED)%2C(id%3A97%2Ctext%3AMarket%2520Research%2CselectionType%3AINCLUDED)%2C(id%3A1862%2Ctext%3AMarketing%2520Services%2CselectionType%3AINCLUDED)%2C(id%3A80%2Ctext%3AAdvertising%2520Services%2CselectionType%3AINCLUDED)))%2C(type%3ANUM_OF_FOLLOWERS%2Cvalues%3AList((id%3ANFR1%2Ctext%3A1-50%2CselectionType%3AINCLUDED)%2C(id%3ANFR2%2Ctext%3A51-100%2CselectionType%3AINCLUDED)%2C(id%3ANFR3%2Ctext%3A101-1000%2CselectionType%3AINCLUDED)%2C(id%3ANFR4%2Ctext%3A1001-5000%2CselectionType%3AINCLUDED)%2C(id%3ANFR5%2Ctext%3A5001%252B%2CselectionType%3AINCLUDED)))%2C(type%3AFORTUNE%2Cvalues%3AList((id%3A1%2Ctext%3AFortune%252050%2CselectionType%3AINCLUDED)%2C(id%3A2%2Ctext%3AFortune%252051-100%2CselectionType%3AINCLUDED)%2C(id%3A3%2Ctext%3AFortune%2520101-250%2CselectionType%3AINCLUDED)%2C(id%3A4%2Ctext%3AFortune%2520251-500%2CselectionType%3AINCLUDED)))))&sessionId=uPfwF0yaTKeb%2FRZ3XJ5qIw%3D%3D&viewAllFilters=true"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -220,
        -620
      ],
      "id": "64a4d951-4962-4cab-a32f-4efc18798632",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"my_schema\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"url\": {\n        \"type\": \"string\",\n        \"description\": \"A URL that conform to the specified LinkedIn format.\"\n      }\n    },\n    \"required\": [\n      \"url\"\n    ],\n    \"additionalProperties\": false,\n    \"$defs\": {}\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -20,
        -120
      ],
      "id": "5da12083-c85e-4045-b903-78476e18bea9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Critically analyze the ICP, refine and improve for a hyper targetted result.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert ABM strategist and LLM agent specialized in refining Ideal Customer Profiles (ICPs) for ultra-targeted Sales Navigator campaigns (20–100 accounts max). Your job is to critically review the ICP draft below and improve it based on the following context and constraints:\n\nContext:\n\t•\tThis ICP is being used to generate a LinkedIn Sales Navigator company search URL.\n\t•\tThe target audience should directly reflect the company’s value proposition, offering, and GTM (go-to-market) motion.\n\t•\tThe company is a small startup (1–10 employees) offering pre-built AI agents for B2B SMBs, automating tasks in marketing, sales, and customer success.\n\t•\tThe goal is precision over scale — focus on defining an ICP that would yield the highest-likelihood buyers.\n\n⸻\n\nInput:\n\n{{ $('When chat message received') }}\n\n⸻\n\nICP Draft to Review:\n\n{{ $json.text }}\n\n⸻\n\nYour Task:\n\t1.\tReview each component critically — value prop, headcount range, regions, industries, and signals.\n\t2.\tFlag any misalignment or generic assumptions.\n\t3.\tTighten or revise it so it aligns more directly with the host company’s size, capabilities, and real buyer personas.\n\t4.\tEnsure every component contributes to identifying high-likelihood accounts with real intent or need.\n\t5.\tOutput your review in this format:\n\n✅ Final ICP (Reviewed):\n1. Value Proposition: [...]\n2. Ideal Customer Profile:\n   - Headcount Range: [...]\n   - Regions: [...]\n   - Industries: [...]\n3. Company Signals:\n   - [...]\n\nIf helpful, briefly explain any reasoning behind changes."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -360,
        -380
      ],
      "id": "e125accb-5835-48a5-b132-4b642d76f0c1",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in constructing LinkedIn Sales Navigator company search for account-based marketing (ABM). Your task is to generate the most relevant company search payload using only the filter options and values specified below. The user will provide company attributes and a value proposition. You must reverse-engineer these inputs into a Sales Navigator payload that includes only valid and predefined filters.\n\nAllowed Filters and Values:\n\n1. Company Headcount:\n- min: 1, 11, 51, 201, 501, 1001, 5001, 10001\n- max: 10, 50, 200, 500, 1000, 5000, 10000, (empty: incases where min is 10001)\n\n2. Company Headcount Growth (% range. Min must be {>=0} max must be {>min}):\n\t•\tMin: 10 \n\t•\tMax: 14 \n\n3. Region:\n\t•\t102221843: North America\n\t•\t102393603: Asia\n\t•\t100506914: Europe\n\t•\t103537801: Africa\n\t•\t104514572: South America\n\t•\t101452733: Australia\n\t•\t102890883: China\n\t•\t101355337: Japan\n\t•\t103644278: United States\n\t•\t101165590: United Kingdom\n\n4. has_job_offers:\n\t•\ttrue\n    •\tfalse\n\n5. Recent Activities:\n\t•\tsenior_leadership_changes\n\t•\tfunding_events\n\n6. ndustries with IDs:\n\nID\tIndustry Name\n43\tFinancial Services\n1810\tProfessional Services\n25\tManufacturing\n1594\tTechnology, Information and Media\n1999\tEducation\n4\tSoftware Development\n6\tTechnology, Information and Internet\n9\tLaw Practice\n10\tLegal Services\n11\tBusiness Consulting and Services\n13\tMedical Practices\n3085\tTransportation Programs\n19\tRetail Apparel and Fashion\n20\tSporting Goods Manufacturing\n23\tFood and Beverage Manufacturing\n3095\tOil Extraction\n24\tComputers and Electronics Manufacturing\n3102\tIT System Custom Software Development\n3103\tIT System Operations and Maintenance\n3106\tIT System Data Services\n44\tReal Estate\n47\tAccounting\n50\tArchitecture and Planning\n3128\tBusiness Intelligence Platforms\n3133\tMedia and Telecommunications\n75\tGovernment Administration\n84\tInformation Services\n96\tIT Services and IT Consulting\n41\tBanking\n45\tInvestment Banking\n2353\tHealth and Human Services\n14\tHospitals and Health Care\n139\tMental Health Care\n2358\tPublic Health\n2074\tHome Health Care Services\n1359\tRetail Health and Personal Care Products\n68\tHigher Education\n67\tPrimary and Secondary Education\n69\tEducation Administration Programs\n132\tE-Learning Providers\n22\tRetail Groceries\n27\tRetail\n111\tRetail Art Supplies\n3186\tRetail Art Dealers\n138\tRetail Office Equipment\n143\tRetail Luxury Goods and Jewelry\n3250\tRetail Pharmacies\n1292\tRetail Motor Vehicles\n1309\tRetail Furniture and Home Furnishings\n1339\tFood and Beverage Retail\n1445\tOnline and Mail Order Retail\n1\tDefense and Space Manufacturing\n3\tComputer Hardware Manufacturing\n1029\tTransportation Equipment Manufacturing\n15\tPharmaceutical Manufacturing\n1042\tMotor Vehicle Parts Manufacturing\n18\tPersonal Care Product Manufacturing\n17\tMedical Equipment Manufacturing\n7\tSemiconductor Manufacturing\n97\tMarket Research\n1862\tMarketing Services\n80\tAdvertising Services\n\n7. Number of Followers:\n- min: 1, 51, 101,1001, 5001\n- max: 50, 100, 1000, 5000\n\n8. Fortune Ranking:\n\t- min: 0, 51, 101, 251\n- max: 50, 100, 250, 500\n\n9. annual revenue:\n- currency: (iso 4217 currency code)\n- min: 0,0.2,1.2.5,5,10,20,50,100,500,1000,1001\n- max: 0,0.2,1.2.5,5,10,20,50,100,500,1000,1001\n\n10. network distance:\n- 1\n- 2\n- 3\n\nInstructions:\n\t•\tUse only the IDs and text values listed above.\n\t•\tDo not fabricate or infer filters or values not explicitly included.\n\t•\tOutput must be a complete LinkedIn Sales Navigator company search URL.\n\t•\tInclude all filters that align with the user’s inputs, ensuring relevance and precision.\n\nWhen ready, ask the user for the following:\n\t1.\tTheir value proposition.\n\t2.\tIdeal customer profile (headcount range, region, industry, etc.).\n\t3.\tAny specific company signals they are looking for (e.g., recent funding, hiring).\n\n⸻\n\nExample: \n\n{\n  \"api\": \"sales_navigator\",\n  \"category\": \"companies\",\n  \"industry\": {\n    \"include\": [\n      \"4\",\n      \"323\"\n    ]\n  },\n  \"location\": {\n    \"include\": [\n      \"102221843\",\n      \"102393603\"\n    ]\n  },\n  \"headcount_growth\": {\n    \"min\": 4,\n    \"max\": 78\n  },\n  \"annual_revenue\": {\n    \"min\": 10,\n    \"max\": 50,\n    \"currency\": \"USD\"\n  },\n  \"has_job_offers\": true,\n  \"headcount\": [\n    {\n      \"min\": 10001\n    },\n    {\n      \"min\": 201,\n      \"max\": 5000\n    }\n  ],\n  \"network_distance\": [\n    1,\n    2,\n    3\n  ],\n  \"followers_count\": [\n    {\n      \"min\": 51,\n      \"max\": 1000\n    }\n  ],\n  \"fortune\": [\n    {\n      \"min\": 0,\n      \"max\": 250\n    },\n    {\n      \"min\": 51,\n      \"max\": 500\n    }\n  ],\n  \"recent_activities\": [\n    \"senior_leadership_changes\",\n    \"funding_events\"\n  ]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        40,
        -360
      ],
      "id": "02f8f1ca-513a-4728-a9c3-26b9330fee90",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"output_format\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"api\": {\n        \"type\": \"string\",\n        \"description\": \"API name being used\"\n      },\n      \"category\": {\n        \"type\": \"string\",\n        \"description\": \"The category of the data\"\n      },\n      \"industry\": {\n        \"type\": \"object\",\n        \"description\": \"Industries to include\",\n        \"properties\": {\n          \"include\": {\n            \"type\": \"array\",\n            \"description\": \"List of industry IDs to include\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\n          \"include\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"location\": {\n        \"type\": \"object\",\n        \"description\": \"Locations to include\",\n        \"properties\": {\n          \"include\": {\n            \"type\": \"array\",\n            \"description\": \"List of location IDs to include\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\n          \"include\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"headcount_growth\": {\n        \"type\": \"object\",\n        \"description\": \"Headcount growth range\",\n        \"properties\": {\n          \"min\": {\n            \"type\": \"number\",\n            \"description\": \"Minimum headcount growth\"\n          },\n          \"max\": {\n            \"type\": \"number\",\n            \"description\": \"Maximum headcount growth\"\n          }\n        },\n        \"required\": [\n          \"min\",\n          \"max\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"annual_revenue\": {\n        \"type\": \"object\",\n        \"description\": \"Annual revenue details\",\n        \"properties\": {\n          \"min\": {\n            \"type\": \"number\",\n            \"description\": \"Minimum annual revenue\"\n          },\n          \"max\": {\n            \"type\": \"number\",\n            \"description\": \"Maximum annual revenue\"\n          },\n          \"currency\": {\n            \"type\": \"string\",\n            \"description\": \"Currency for the annual revenue\"\n          }\n        },\n        \"required\": [\n          \"min\",\n          \"max\",\n          \"currency\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"has_job_offers\": {\n        \"type\": \"boolean\",\n        \"description\": \"Indicates if there are job offers available\"\n      },\n      \"headcount\": {\n        \"type\": \"array\",\n        \"description\": \"List of headcount ranges\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\",\n              \"description\": \"Minimum headcount\"\n            },\n            \"max\": {\n              \"type\": \"number\",\n              \"description\": \"Maximum headcount\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"network_distance\": {\n        \"type\": \"array\",\n        \"description\": \"List of network distances\",\n        \"items\": {\n          \"type\": \"number\"\n        }\n      },\n      \"followers_count\": {\n        \"type\": \"array\",\n        \"description\": \"List of follower count ranges\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\",\n              \"description\": \"Minimum follower count\"\n            },\n            \"max\": {\n              \"type\": \"number\",\n              \"description\": \"Maximum follower count\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"fortune\": {\n        \"type\": \"array\",\n        \"description\": \"List of fortune sizes\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"min\": {\n              \"type\": \"number\",\n              \"description\": \"Minimum fortune\"\n            },\n            \"max\": {\n              \"type\": \"number\",\n              \"description\": \"Maximum fortune\"\n            }\n          },\n          \"required\": [\n            \"min\",\n            \"max\"\n          ],\n          \"additionalProperties\": false\n        }\n      },\n      \"recent_activities\": {\n        \"type\": \"array\",\n        \"description\": \"List of recent activities\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"required\": [\n      \"api\",\n      \"category\",\n      \"industry\",\n      \"location\",\n      \"headcount_growth\",\n      \"annual_revenue\",\n      \"has_job_offers\",\n      \"headcount\",\n      \"network_distance\",\n      \"followers_count\",\n      \"fortune\",\n      \"recent_activities\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        180,
        -140
      ],
      "id": "86c8fdfb-584e-4735-bb07-a1b95543ff83",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api9.unipile.com:13961/api/v1/linkedin/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "mY3y9JYZTkujVnzh47yGnQ"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "cXv4GKwT.sCQSDgA1Q/Ge7LHhB2Qv7P5PdSDTZLo3Lg8k+yeOARU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -360
      ],
      "id": "8ae465d6-4e56-404d-b67c-5a4dd9bd01c4",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Search for profile and notify view",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for profile and notify view": {
      "main": [
        [
          {
            "node": "Wait 1hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1hr": {
      "main": [
        [
          {
            "node": "Send Invitation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invitation Request": {
      "main": [
        [
          {
            "node": "Check Invitations List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First 10": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second 10": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Second 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Airtable7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "First 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable7": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 sec": {
      "main": [
        [
          {
            "node": "Airtable8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable8": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable9": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "First ": {
      "main": [
        []
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Airtable10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable10": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable11": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Airtable11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 secs": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        []
      ]
    },
    "Airtable12": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "Wait 2 secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 secs": {
      "main": [
        [
          {
            "node": "Call Prospecting Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Prospecting Manager": {
      "main": [
        [
          {
            "node": "Airtable13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Airtable12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable13": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "First ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "url": "https://www.linkedin.com/sales/search/people?query=(recentSearchParam%3A(id%3A4460375002%2CdoLogHistory%3Atrue)%2Cfilters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1.000%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A96%2Ctext%3AIT-Dienstleistungen%2520und%2520IT-Beratung%2CselectionType%3AEXCLUDED)))%2C(type%3APOSTAL_CODE%2Cvalues%3AList((id%3A103950180%2Ctext%3A96215%252C%2520Lichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED))%2CselectedSubFilter%3A35)%2C(type%3ACOMPANY_HEADQUARTERS%2Cvalues%3AList((id%3A101166762%2Ctext%3ALichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED)))%2C(type%3APROFILE_LANGUAGE%2Cvalues%3AList((id%3Ade%2Ctext%3ADeutsch%2CselectionType%3AINCLUDED)%2C(id%3Aen%2Ctext%3AEnglisch%2CselectionType%3AINCLUDED)))%2C(type%3ARELATIONSHIP%2Cvalues%3AList((id%3AS%2Ctext%3AKontakte%25202.%25C2%25A0Grades%2CselectionType%3AINCLUDED)%2C(id%3AO%2Ctext%3AKontakte%25203.%25C2%25A0Grades%2520und%2520dar%25C3%25BCber%2520hinaus%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_TITLE%2Cvalues%3AList((id%3A8%2Ctext%3ACEO%2CselectionType%3AINCLUDED)%2C(id%3A16%2Ctext%3AGesch%25C3%25A4ftsf%25C3%25BChrer%2CselectionType%3AINCLUDED)%2C(id%3A5204%2Ctext%3AStellvertretender%2520CEO%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AGeneral%2520Manager%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A8974%2Ctext%3AManaging%2520Director%2520Marketing%2CselectionType%3AINCLUDED)%2C(id%3A35%2Ctext%3AGr%25C3%25BCnder%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A103%2Ctext%3AMitbegr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A1405%2Ctext%3AGr%25C3%25BCndungspartner%2CselectionType%3AINCLUDED)%2C(id%3A18730%2Ctext%3AMitgr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A233%2Ctext%3AUnternehmer%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3AUnternehmensinhaber%2CselectionType%3AINCLUDED)%2C(id%3A9623%2Ctext%3AKleinbetriebsinhaber%2CselectionType%3AINCLUDED)%2C(id%3A71%2Ctext%3AIT-Spezialist%2CselectionType%3AINCLUDED)%2C(id%3A65%2Ctext%3AIT-Manager%2CselectionType%3AINCLUDED)%2C(id%3A163%2Ctext%3AIT%2520Director%2CselectionType%3AINCLUDED)%2C(id%3A688%2Ctext%3AIT-Leiter%2CselectionType%3AINCLUDED)))%2C(type%3APOSTED_ON_LINKEDIN%2Cvalues%3AList((id%3ARPOL%2Ctext%3AHaben%2520etwas%2520auf%2520LinkedIn%2520gepostet%2CselectionType%3AINCLUDED)))))&sessionId=dBfWl0aTSn2N9NCboUdZOg%3D%3D",
          "account_id": "mY3y9JYZTkujVnzh47yGnQ"
        }
      }
    ],
    "Search for profile and notify view": [
      {
        "json": {
          "object": "UserProfile",
          "provider": "LINKEDIN",
          "provider_id": "ACoAACvbUGcB2Us5j85wdbiY5l7UWlK-t3j8E2U",
          "public_identifier": "allwell-igweze-3474ba186",
          "member_urn": "735793255",
          "first_name": "Allwell",
          "last_name": "Igweze",
          "headline": "Sales Development Representative (SDR) | B2B Tech Sales | SaaS | Lead Generation | Direct Message Outreach | Remote | Outbound Sales | CRM | Pipeline Management | Prospecting | Business Development",
          "primary_locale": {
            "country": "US",
            "language": "en"
          },
          "is_open_profile": false,
          "is_premium": false,
          "is_influencer": false,
          "is_creator": true,
          "is_relationship": true,
          "network_distance": "FIRST_DEGREE",
          "is_self": false,
          "websites": [],
          "follower_count": 1519,
          "connections_count": 1480,
          "location": "Nigeria",
          "contact_info": {
            "emails": [
              "wellsigwe@gmail.com"
            ]
          },
          "birthdate": {
            "month": 4,
            "day": 19
          },
          "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4D03AQEG0ZwF8nZ6vw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1622915504158?e=1753315200&v=beta&t=2hN-LeVKyFQ0Xkd13nYEg1BVLL1bYJ-v6ESBEESEeYA",
          "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4D03AQEG0ZwF8nZ6vw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1622915504158?e=1753315200&v=beta&t=3IcDqQdlXesBLtJbfCpzr4KBgtb93wPEYnEbKma6uVs",
          "background_picture_url": "https://media.licdn.com/dms/image/v2/D4D16AQEm4MSO5mnjtw/profile-displaybackgroundimage-shrink_200_800/profile-displaybackgroundimage-shrink_200_800/0/1712166148722?e=1753315200&v=beta&t=ApXtboLClONjttLOohclwpMRG7i0fvk3NT7yGH_PgD4",
          "shared_connections_count": 36,
          "hashtags": [
            "#data",
            "#tech",
            "#business",
            "#dataanalytics",
            "#artificialintelligence"
          ]
        }
      }
    ],
    "Send Invitation Request": [
      {
        "json": {
          "object": "UserInvitationSent",
          "invitation_id": "7330181427105345536"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.verstandai.xyz",
            "user-agent": "node",
            "content-length": "128",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "35.176.0.126",
            "x-forwarded-host": "n8n.verstandai.xyz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "09092287a8e2",
            "x-real-ip": "35.176.0.126"
          },
          "params": {},
          "query": {},
          "body": {
            "company": "bleep",
            "name": "bleep bleep",
            "title": "bleep",
            "linkedin": "bleep.com",
            "report url": "bleep.com",
            "category": "Influencer"
          },
          "webhookUrl": "https://n8n.verstandai.xyz/webhook-test/buying-center",
          "executionMode": "test"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "n8n.verstandai.xyz",
            "user-agent": "node",
            "content-length": "128",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "35.176.0.126",
            "x-forwarded-host": "n8n.verstandai.xyz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "09092287a8e2",
            "x-real-ip": "35.176.0.126"
          },
          "params": {},
          "query": {},
          "body": {
            "company": "bleep",
            "url": "youtube.com"
          },
          "webhookUrl": "https://n8n.verstandai.xyz/webhook-test/buying-center",
          "executionMode": "test"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.verstandai.agency",
            "user-agent": "node",
            "content-length": "2667",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "35.176.0.126",
            "x-forwarded-host": "n8n.verstandai.agency",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7366fc3f55a8",
            "x-real-ip": "35.176.0.126"
          },
          "params": {},
          "query": {},
          "body": {
            "campaign name": "First Campaign",
            "url": "https://www.linkedin.com/sales/search/people?query=(recentSearchParam%3A(id%3A4460375002%2CdoLogHistory%3Atrue)%2Cfilters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1.000%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A96%2Ctext%3AIT-Dienstleistungen%2520und%2520IT-Beratung%2CselectionType%3AEXCLUDED)))%2C(type%3APOSTAL_CODE%2Cvalues%3AList((id%3A103950180%2Ctext%3A96215%252C%2520Lichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED))%2CselectedSubFilter%3A35)%2C(type%3ACOMPANY_HEADQUARTERS%2Cvalues%3AList((id%3A101166762%2Ctext%3ALichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED)))%2C(type%3APROFILE_LANGUAGE%2Cvalues%3AList((id%3Ade%2Ctext%3ADeutsch%2CselectionType%3AINCLUDED)%2C(id%3Aen%2Ctext%3AEnglisch%2CselectionType%3AINCLUDED)))%2C(type%3ARELATIONSHIP%2Cvalues%3AList((id%3AS%2Ctext%3AKontakte%25202.%25C2%25A0Grades%2CselectionType%3AINCLUDED)%2C(id%3AO%2Ctext%3AKontakte%25203.%25C2%25A0Grades%2520und%2520dar%25C3%25BCber%2520hinaus%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_TITLE%2Cvalues%3AList((id%3A8%2Ctext%3ACEO%2CselectionType%3AINCLUDED)%2C(id%3A16%2Ctext%3AGesch%25C3%25A4ftsf%25C3%25BChrer%2CselectionType%3AINCLUDED)%2C(id%3A5204%2Ctext%3AStellvertretender%2520CEO%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AGeneral%2520Manager%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A8974%2Ctext%3AManaging%2520Director%2520Marketing%2CselectionType%3AINCLUDED)%2C(id%3A35%2Ctext%3AGr%25C3%25BCnder%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A103%2Ctext%3AMitbegr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A1405%2Ctext%3AGr%25C3%25BCndungspartner%2CselectionType%3AINCLUDED)%2C(id%3A18730%2Ctext%3AMitgr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A233%2Ctext%3AUnternehmer%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3AUnternehmensinhaber%2CselectionType%3AINCLUDED)%2C(id%3A9623%2Ctext%3AKleinbetriebsinhaber%2CselectionType%3AINCLUDED)%2C(id%3A71%2Ctext%3AIT-Spezialist%2CselectionType%3AINCLUDED)%2C(id%3A65%2Ctext%3AIT-Manager%2CselectionType%3AINCLUDED)%2C(id%3A163%2Ctext%3AIT%2520Director%2CselectionType%3AINCLUDED)%2C(id%3A688%2Ctext%3AIT-Leiter%2CselectionType%3AINCLUDED)))%2C(type%3APOSTED_ON_LINKEDIN%2Cvalues%3AList((id%3ARPOL%2Ctext%3AHaben%2520etwas%2520auf%2520LinkedIn%2520gepostet%2CselectionType%3AINCLUDED)))))&sessionId=dBfWl0aTSn2N9NCboUdZOg%3D%3D"
          },
          "webhookUrl": "https://n8n.verstandai.agency/webhook-test/scrape-sales-nav",
          "executionMode": "test"
        }
      }
    ],
    "First 10": [
      {
        "json": {
          "object": "LinkedinSearch",
          "items": [
            {
              "type": "PEOPLE",
              "id": "ACwAABfKORsBx0qe2NSrvdsB_dwcgmpjYOrsuFo",
              "industry": null,
              "name": "André Pager",
              "first_name": "André",
              "last_name": "Pager",
              "member_urn": "urn:li:member:399128859",
              "public_identifier": "andr%C3%A9-pager",
              "public_profile_url": "https://www.linkedin.com/in/andr%C3%A9-pager",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAABfKORsBx0qe2NSrvdsB_dwcgmpjYOrsuFo,NAME_SEARCH,HreH",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQEMHXevmubdlQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1697374798630?e=1753315200&v=beta&t=uO5U9GQBRbRbHA_rp2JVicppjQ5wYpw2zZW4VFFS-Fc",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQEMHXevmubdlQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1697374798630?e=1753315200&v=beta&t=6gcMjjV5KJlGODKJ9LajSvQbdDLA2cQtsITHh_1mhu0",
              "network_distance": "DISTANCE_2",
              "location": "Staffelstein, Bavaria, Germany",
              "headline": "Founder @ Lockchain Invest | Strategy & Innovation Leader | Macro-to-Execution Architect | PMO Systems & Venture Execution | Building for the Age of Coordination | Bundesblock Member",
              "summary": "I’m a strategy, transformation, and innovation leader with 16+ years of international experience — spanning global industry, digital platforms, and venture building.\n\nAfter leading product strategy, innovation portfolios, and PMO systems at Brose and Continental, I founded Lockchain Invest — a strategic innovation platform operating across Europe and the UAE. My work bridges corporate execution depth with platform-native scalability.\n\nAt Lockchain Invest, I advise organizations on strategic positioning, innovation steering, and scalable execution. I also build ventures shaped by macro shifts — including AI.COREBLOCK, a blockchain- and AI-powered system for monetizing real-world data. I collaborate with universities, public institutions, and ecosystem partners to explore frontier application.\n\nMy core focus: designing architectures for the Age of Coordination — where intelligence, trust, and automation reshape how institutions function. I contribute through macro papers, strategic briefings, and keynote speaking.\n\nMember of the Bundesblock (German Blockchain Association) and graduate of the Frankfurt School Blockchain Talents programs.\n\nMy focus: turning early signals into strategic clarity — and executing what others hesitate to begin.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Lockchain Invest GmbH",
                  "company_id": "86184231",
                  "description": "Founded a strategic innovation platform operating across Europe and the UAE, bridging corporate transformation with platform-native execution.\n\n•\tAdvising organizations on strategy design, innovation portfolio management, and scalable execution frameworks\n•\tDeveloping ventures like AI.COREBLOCK (blockchain + AI for vehicle data monetization), in collaboration with academic and industry partners\n•\tSupporting public-private visibility into emerging tech ecosystems (Web3, digital identity, token economies)\n•\tContributing insights via whitepapers, speaking engagements, and strategic briefings",
                  "location": "Redwitz an der Rodach, Bavaria, Germany",
                  "industry": [
                    "Technology, Information and Media"
                  ],
                  "role": "Founder & General Manager | Strategy Lead",
                  "tenure_at_company": {
                    "years": 3,
                    "months": 1
                  },
                  "tenure_at_role": {
                    "years": 3,
                    "months": 1
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 10,
              "recent_posts_count": 2
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAAAPewgBMm2uLT8NBwqMEVXBvmUkgLkZBTY",
              "industry": null,
              "name": "Dirk Dzedzeck",
              "first_name": "Dirk",
              "last_name": "Dzedzeck",
              "member_urn": "urn:li:member:1014536",
              "public_identifier": "dirkdzedzeck",
              "public_profile_url": "https://www.linkedin.com/in/dirkdzedzeck",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAAAPewgBMm2uLT8NBwqMEVXBvmUkgLkZBTY,NAME_SEARCH,wB09",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4D03AQGBu1puaLRmwQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1731499197152?e=1753315200&v=beta&t=7dtGKGVx41-qwC7bhnmS3TLPNNoaVw1bqNr99kZCyhc",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4D03AQGBu1puaLRmwQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1731499197211?e=1753315200&v=beta&t=qpfVgRChHqGvmw-Sc5kgSBf88-J3d2p0Q5qGoe6a6EU",
              "network_distance": "DISTANCE_2",
              "location": "Greater Munich Metropolitan Area",
              "headline": "Small & MidCap M&A and Corporate Finance Professional",
              "summary": "Corporate finance and specialist with over 20 years of profound professional expertise in various industries.\n\nSpecialties: Mergers and aquisitions, project management, corporate finance, business valuation, financial modelling, financial planning and analysis, liquidity planning and management, carve outs.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Frummix UG - Die Fruchtgummi-Manufaktur",
                  "company_id": "101039111",
                  "description": "• Acquired a small family-owned fruit candy manufacture specializing in customized Fruchtgummi.\n• Production of handmade candy as a side project with my wife, ensuring quality and customer satisfaction.\n• Managing purchasing, accounting, taxes, and compliance with legal requirements for food producing enterprises",
                  "location": "Redwitz an der Rodach, Bavaria, Germany",
                  "industry": [
                    "Food and Beverage Manufacturing"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 1,
                    "months": 7
                  },
                  "tenure_at_role": {
                    "years": 1,
                    "months": 7
                  }
                }
              ],
              "open_profile": true,
              "premium": true,
              "shared_connections_count": 2,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAADQiBLUB3yO21U5lC_h8U9l97GIo16_xx9w",
              "industry": null,
              "name": "Claudia Simmerl",
              "first_name": "Claudia",
              "last_name": "Simmerl",
              "member_urn": "urn:li:member:874644661",
              "public_identifier": "claudia-simmerl-131b00204",
              "public_profile_url": "https://www.linkedin.com/in/claudia-simmerl-131b00204",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAADQiBLUB3yO21U5lC_h8U9l97GIo16_xx9w,NAME_SEARCH,BeL3",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4E03AQFFN1tlVaD_Mg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1611653110549?e=1753315200&v=beta&t=HUrzEn-6W_rEsjSoSijc_irJh86r7OUXb3ag7ppFqSE",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4E03AQFFN1tlVaD_Mg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1611653110549?e=1753315200&v=beta&t=mxLJqbUMUPRbmpwveVnhlPlJW_8XcUrVk_DumdUDg9M",
              "network_distance": "DISTANCE_3",
              "location": "Bamberg, Bavaria, Germany",
              "headline": "Lass dich begeistern & bewegen!",
              "summary": "Die Psyche als Erfolgsfaktor - für Einzelne, Teams und Unternehmen!\n\nEin fränkisches Hallo von mir, Claudia Simmerl!\n\nSeit 1998 begeistere und bewege ich Menschen im Bereich der Weiterbildung.\n\nWir sind ein Familienunternehmen mit drei Schwerpunkten: \n\n* Kommunikationstraining Simmerl gestaltet kurzweilige und nachhaltige Seminare, Vorträge und Coachings im Online- und Präsenzformat.\nDie professionelle Aus- und Weiterbildung von Trainern und Coaches sowie wertvolle Persönlichkeits- und Teamentwicklungen zeichnen uns seit fast 4 Jahrzehnten aus.\n\n* Trainings-Ideen Simmerl bietet Materialien für lebendiges, wirksames Lehren und Lernen. Werfen Sie gerne einen Blick darauf: www.trainings-ideen-shop.de\n\n* Unternehmensberatung Simmerl GmbH fördert Change-Prozesse, wo die Menschen sowohl von ihrer Denke als auch von den Emotionen einbezogen werden. Nachhaltige Veränderungen gelingen so tatsächlich.\n\nAls Diplom-Pädagogin Univ., Lehrtrainerin (DVNLP, wingwave, GNLC, Quattro-Coaching), Mediatorin, Geschäftsführerin, Autorin und als ehemaliger Mental-Coach-Partner des HSC 2000 Coburg (Bundesliga Handball) biete ich Ihnen eine große methodische und konzeptionelle Vielfalt an! \n\nLassen Sie sich gerne von uns und mir begeistern & bewegen!\n\nIhre Claudia Simmerl - www.simmerl.de",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Kommunikationstraining Simmerl GbR",
                  "company_id": "75560963",
                  "location": "Lichtenfels, Bavaria, Germany",
                  "industry": [
                    "Professional Training and Coaching"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 27,
                    "months": 2
                  },
                  "tenure_at_role": {
                    "years": 27,
                    "months": 2
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "recent_posts_count": 2
            },
            {
              "type": "PEOPLE",
              "id": "ACwAACtY4HIBOaR030-ahXQv-azrOircYtXbaUM",
              "industry": null,
              "name": "Johannes Wasikowski",
              "first_name": "Johannes",
              "last_name": "Wasikowski",
              "member_urn": "urn:li:member:727244914",
              "public_identifier": "johannes-wasikowski-3aa677183",
              "public_profile_url": "https://www.linkedin.com/in/johannes-wasikowski-3aa677183",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAACtY4HIBOaR030-ahXQv-azrOircYtXbaUM,NAME_SEARCH,Mapj",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5103AQH0bdgUHdESjA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1567600207198?e=1753315200&v=beta&t=1uFOl5z6RHvKkVojictspUcHPE6NDfKsb-xlZmCp9Dc",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C5103AQH0bdgUHdESjA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1567600207270?e=1753315200&v=beta&t=hEwHvKu8vitsbbwycO8oxfjVwSkjlQWLxjqypwkB728",
              "network_distance": "DISTANCE_2",
              "location": "Nuremberg, Bavaria, Germany",
              "headline": "Displays zur nachhaltigen Warenpräsentation für Marken @Wasi-Displays.de",
              "summary": "Seit 1953 und seit mehr als drei Generationen ist der Name Wasikowski mit dem Werkstoff Holz verbunden. Heute fertigt das Lichtenfelser Familienunternehmen unter anderem nachhaltige Displays zur Warenpräsentation. Seit 2015 führt Johannes Wasikowski das erfolgreiche mittelständische Unternehmen Wasi Displays mit Sitz im oberfränkischen Lichtenfels zusammen mit seinem Vater und Geschäftsführer Wilhelm Wasikowski. Der Schreinermeister ist verantwortlich für die Konstruktion und das Produktdesign. Bekannt ist Wasi Displays deutschlandweit für seine nachhaltigen PoS-Displays im stationären Einzelhandel, die es mit seinen rund 60 Mitarbeitern aus dem Werkstoff Holz fertigt. Dazu zählen Verkaufsdisplays als individuelle Bodendisplays oder Thekendisplays. Dabei hat Wasi Displays die Marken seiner Kundinnen und Kunden stets im Blick und unterstützt sie dabei, die Wiedererkennung zu steigern und den Absatz am Point of Sale zu verbessern.\nWasi Displays ist ein modernes Unternehmen, welches alle Fertigungs- und Arbeitsschritte für Langzeitdisplays im eigenen Unternehmen unter einem Dach anbieten kann: Von der Holzfertigung über die Metall- und Kunststoffverarbeitung, bis hin zu Lackierungen und dem Digitaldruck. Und obwohl diese Vielfalt zu den Erfolgsfaktoren des Unternehmens gehört, ist die große Liebe für den Werkstoff Holz geblieben. Dabei spielte und spielt das Thema Nachhaltigkeit schon immer eine wichtige Rolle.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Wasi-Displays",
                  "company_id": "14612688",
                  "location": "Lichtenfels, Bavaria, Germany",
                  "industry": [
                    "Furniture"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 9,
                    "months": 10
                  },
                  "tenure_at_role": {
                    "months": 5
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 2,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAE1gW0sB_xXrL3ztmoPuExi0g8q0ueDquzw",
              "industry": null,
              "name": "Mohamed Sesay",
              "first_name": "Mohamed",
              "last_name": "Sesay",
              "member_urn": "urn:li:member:1298160459",
              "public_identifier": "mohamed-sesay-323902302",
              "public_profile_url": "https://www.linkedin.com/in/mohamed-sesay-323902302",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAE1gW0sB_xXrL3ztmoPuExi0g8q0ueDquzw,NAME_SEARCH,44qP",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQFmrj4BzzbG6g/profile-displayphoto-shrink_800_800/B4EZPgxclJGcAc-/0/1734642879447?e=1753315200&v=beta&t=aBAzNJb1Q6-mHwmqxp9yAJdzX-N0qfartnnbl-4e4wI",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQFmrj4BzzbG6g/profile-displayphoto-shrink_200_200/B4EZPgxclJGcAY-/0/1734642879417?e=1753315200&v=beta&t=OxTeydkfkhZoUX6MBC_3lpQ459iybAQm5vqABJ8WsnE",
              "network_distance": "DISTANCE_3",
              "location": "Altenkunstadt, Bavaria, Germany",
              "headline": "Founder of DevOps-bot & CEO  @ Dee Empire   ”DevOps Engineer, developer of DevOps-bot’’",
              "summary": " I’m Mohamed Sesay — a self-taught DevOps Engineer, founder of DevOps-Bot, and a believer in second chances. 🛠️🌍\n\nOriginally from Sierra Leone, I moved to Germany in search of a better future. I worked as a crane operator for 5 years in the construction industry — far from where I imagined my life would go when I first started university. Financial hardship forced me to pause my education, and the language barrier shaped my early years here.\n\nBut the dream never died. ✨\n\nA friend introduced me to DevOps, and I immediately knew I had found my calling. I dove into online courses, taught myself programming and cloud automation, and began building what would become DevOps-Bot — an automation platform that simplifies the DevOps lifecycle with tools like Screenplay, InfraCycle, Persona, and DKS.\n\nWith no formal IT background, I taught myself everything — from Linux to Kubernetes — driven by a desire to solve real-world problems. I didn’t apply for jobs, not because I wasn’t capable, but because I believe the right opportunity — or the right investor — will find me. 🫶\n\nDevOps-Bot is just the beginning. I plan to build more tools that will transform how we work, learn, and innovate. 💡\n\nThis is more than a career shift — it’s a return to a dream I never stopped believing in.\n\n⸻\n\n#DevOps #StartupJourney #FounderStory #SelfTaughtEngineer #FromCraneToCode #Automation #DevOpsBot #BuildInPublic #CloudNative\n",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "DevOps-Bot",
                  "company_id": "106511099",
                  "location": "Altenkunstadt, Bavaria, Germany",
                  "industry": [
                    "IT Services and IT Consulting"
                  ],
                  "role": "Chief Executive Officer",
                  "tenure_at_company": {
                    "years": 1,
                    "months": 3
                  },
                  "tenure_at_role": {
                    "years": 1,
                    "months": 3
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "recent_posts_count": 2
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAD6C-ggBqHy1hAbPBJa3XDw2bHCFDm8aj9w",
              "industry": null,
              "name": "Lucas Hügerich",
              "first_name": "Lucas",
              "last_name": "Hügerich",
              "member_urn": "urn:li:member:1048771080",
              "public_identifier": "lucas-huegerich-hgb",
              "public_profile_url": "https://www.linkedin.com/in/lucas-huegerich-hgb",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAD6C-ggBqHy1hAbPBJa3XDw2bHCFDm8aj9w,NAME_SEARCH,tt1u",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQFDXGAlvfjQFw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1704983554390?e=1753315200&v=beta&t=493dM3NKShK493uwvcwuFwZzLzbsOYw8OGe7n80upk0",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQFDXGAlvfjQFw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1704983554390?e=1753315200&v=beta&t=uKu9qo5cYMo-DETgSlWD_gJ-QbXSz0MnZD3disXuvKo",
              "network_distance": "DISTANCE_2",
              "location": "Weismain, Bavaria, Germany",
              "headline": "💪 Knie Stark: Dein Sprint zu schmerzfreiem Sport & Alltag! 🛡️",
              "summary": "❓ Bist Du es leid, dass Knieschmerzen Dein Training und Deinen Alltag einschränken?\n❓ Möchtest Du endlich herausfinden, wie Du effektiv Deine Muskulatur stärken und Verletzungen vorbeugen kannst?\n❓ Suchst Du nach individuellen Lösungen, die genau auf Deine Bedürfnisse abgestimmt sind?\n❓ Ist Dir eine flexible Betreuung wichtig, die sich Deinem Lebensstil anpasst?\n\nIch bin Lucas Hügerich, Europameister und Dein Experte für schmerzfreies Leben. Mit mehr als 15 Jahren Erfahrung auf dem Feld weiß ich genau, wie man physische und mentale Hürden überwindet. Gemeinsam finden wir den besten Weg, um Dich schmerzfrei und fokussiert zu halten.\n\n💡 Hier sind Deine Vorteile auf einen Blick 💡\n✔️ Erreiche Schmerzfreiheit und steigere dadurch Deine Produktivität.\n✔️ Entwickle ein Mindset, das Dich zum Erfolg führt.\n✔️ Erhalte individuelle Lösungen, die perfekt auf Dich zugeschnitten sind.\n\n👉 Nutze mein kostenloses Angebot:\n✔️ Ein persönliches Erstgespräch, um Deine spezifischen Bedürfnisse zu verstehen.\n📆 https://www.builttopeak.com/termin-erstgespräch\n\n👉 Nutze unseren Physio Check Up  ❗️ Auch Online ❗️\n📆 https://www.builttopeak.com/check-up\n\n✔️ Ein individuell maßgeschneidertes Programm für Deinen langfristigen Erfolg.\n☎️ +49-176-17972029 📧 team@homegym-builders.com",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "BUILT TO PEAK",
                  "company_id": "98631240",
                  "description": "✅ Knie Rehabilitation\n✅ Physiotherapie\n✅ Online - Coaching\n✅ Gruppenkurse",
                  "location": "Weismain, Bavaria, Germany",
                  "industry": [
                    "Professional Training and Coaching"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 2,
                    "months": 4
                  },
                  "tenure_at_role": {
                    "years": 2,
                    "months": 4
                  }
                },
                {
                  "company": "Homegym - Builders",
                  "company_id": "98423307",
                  "description": "✅ Sportgeräteentwicklung\n✅ Sportgeräte\n✅ Sportstättenplanung",
                  "location": "Weismain, Bavaria, Germany",
                  "industry": [
                    "Sporting Goods Manufacturing"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 4
                  },
                  "tenure_at_role": {
                    "years": 4
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 25
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAAAPregBfAq9wnnZXCJDrCtLhDWm-OKGF6g",
              "industry": null,
              "name": "Thomas Bulirsch",
              "first_name": "Thomas",
              "last_name": "Bulirsch",
              "member_urn": "urn:li:member:1027560",
              "public_identifier": "thomasbulirsch",
              "public_profile_url": "https://www.linkedin.com/in/thomasbulirsch",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAAAPregBfAq9wnnZXCJDrCtLhDWm-OKGF6g,NAME_SEARCH,t2v-",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4D03AQGV5BykPz4EOg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1573147959644?e=1753315200&v=beta&t=OYXnC54quXKBXkd0sak6ogaIfldcIp7UIxvtoUYTzfw",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4D03AQGV5BykPz4EOg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1573147959721?e=1753315200&v=beta&t=-tW97TWguzE7zMzn98nUSOtbO4j2kMxYoNm6l4gZ-gE",
              "network_distance": "DISTANCE_2",
              "location": "Lichtenfels, Bavaria, Germany",
              "headline": "Chief Executive Officer | Aviation Enthusiast",
              "summary": "Aviation Enthusiast and inveterate \"whynotter\"​.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "aviationscouts GmbH",
                  "company_id": "4991156",
                  "description": "Responsible for Sales and Marketing\nStrategic Development of the Company\n\nAt aviationscouts GmbH we employ 20 people in our back office in Lichtenfels plus 8 international sales agents.\n\naviationscouts GmbH operates the leading marketplace for surplus aircraft seats & interiors (www.aviationgate.com).\n\nWe promote, store, re-furbish and re-cycle AS REMOVED passenger seats for airlines, leasing companies, MROs and resellers. Currently we have over 12.000 PAX of different seat models in stock.\n\nWith our local 145 partner we maintain a modern shop structure that has capacity for up to 3 ship sets at the same time. \n\nAs Founder and CEO of aviationscouts GmbH I am focusing on the strategic development of the company, as well as Sales and Marketing.\n\nDuring my sales career in the aviation industry I have been responsible for over 250 Million USD in Sales and Business Development.\n\nI believe that values like integrity, trust and reliability are essential for any business relationship.\n\nFor more information about our services pls. visit our homepage http://www.aviationscouts.com",
                  "location": "Lichtenfels, Bavaria, Germany",
                  "industry": [
                    "Aviation & Aerospace"
                  ],
                  "role": "Chief Executive Officer",
                  "tenure_at_company": {
                    "years": 11,
                    "months": 5
                  },
                  "tenure_at_role": {
                    "years": 11,
                    "months": 5
                  }
                }
              ],
              "open_profile": false,
              "premium": true,
              "shared_connections_count": 5,
              "recent_posts_count": 2
            },
            {
              "type": "PEOPLE",
              "id": "ACwAABC_kSgB9hY2s4wQwzAbKxmoruqfe3GPYE0",
              "industry": null,
              "name": "Dirk Püttner",
              "first_name": "Dirk",
              "last_name": "Püttner",
              "member_urn": "urn:li:member:280989992",
              "public_identifier": "dirk-p%C3%BCttner-b481297a",
              "public_profile_url": "https://www.linkedin.com/in/dirk-p%C3%BCttner-b481297a",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAABC_kSgB9hY2s4wQwzAbKxmoruqfe3GPYE0,NAME_SEARCH,qEtz",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQHp0zm-BGVifA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1704414699793?e=1753315200&v=beta&t=0e-AFE0-npcbuZitWVeiSgko2gXP_E7pVCzlNYkJfCQ",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQHp0zm-BGVifA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1704414699793?e=1753315200&v=beta&t=GK3GmtxEtH-xix-JSrhHvQqC0-96tlodO_eqh-eViS4",
              "network_distance": "DISTANCE_2",
              "location": "Burgkunstadt, Bavaria, Germany",
              "headline": "Unternehmer#Entrepreneur",
              "summary": "Vertrauen, Teamgeist – und Spitzenleistungen: Als Unternehmen und Unternehmer leben wir unsere einfachen, aber unverwechselbaren Werte. Ich bin stolz darauf, diese Werte zu teilen. Ich bin stolz, Teil der Unternehmerwelt zu sein.💯🎯🤗",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Focus Assekuradeure & Underwriting KG",
                  "company_id": "86258113",
                  "location": "Burgkunstadt, Bavaria, Germany",
                  "industry": [
                    "Insurance"
                  ],
                  "role": "CEO",
                  "tenure_at_company": {
                    "years": 9,
                    "months": 5
                  },
                  "tenure_at_role": {
                    "years": 9,
                    "months": 5
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 5,
              "recent_posts_count": 2
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAE2mtnABAd3W5rIIaiaNr7svGLdM86PpXpA",
              "industry": null,
              "name": "Wolfgang Schubert-Raab",
              "first_name": "Wolfgang",
              "last_name": "Schubert-Raab",
              "member_urn": "urn:li:member:1302771312",
              "public_identifier": "wolfgang-schubert-raab-700366304",
              "public_profile_url": "https://www.linkedin.com/in/wolfgang-schubert-raab-700366304",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAE2mtnABAd3W5rIIaiaNr7svGLdM86PpXpA,NAME_SEARCH,RdYs",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4D03AQER8Byj1KeeoA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1713208035126?e=1753315200&v=beta&t=9DaEgn0wvnOLhYbzUdqwF9jpxbD3kaB5TcJlLXtXj2E",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4D03AQER8Byj1KeeoA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1713208035127?e=1753315200&v=beta&t=R8_L_F7rYd2wQi8ldPij1iQRo_jZr0cHRqjT0ya9s1U",
              "network_distance": "DISTANCE_2",
              "location": "Ebensfeld, Bavaria, Germany",
              "headline": "--",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Raab Baugesellschaft",
                  "company_id": "12764776",
                  "location": "Ebensfeld, Bavaria, Germany",
                  "industry": [
                    "Construction"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 41,
                    "months": 10
                  },
                  "tenure_at_role": {
                    "years": 41,
                    "months": 10
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 1,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAD3-N_QBbGCSK8LMbAMBY8MiiR-oTSmHPgk",
              "industry": null,
              "name": "Roland Bernert",
              "first_name": "Roland",
              "last_name": "Bernert",
              "member_urn": "urn:li:member:1040070644",
              "public_identifier": "roland-bernert-898398250",
              "public_profile_url": "https://www.linkedin.com/in/roland-bernert-898398250",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAD3-N_QBbGCSK8LMbAMBY8MiiR-oTSmHPgk,NAME_SEARCH,h5DT",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQGdLcntWu2kEQ/profile-displayphoto-shrink_800_800/B4EZY_C1kXHkAo-/0/1744814431034?e=1753315200&v=beta&t=oPUyUpYxs92Z7jsASpuMxDC4rqmz6V7_nq-JUn-cxqA",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQGdLcntWu2kEQ/profile-displayphoto-shrink_200_200/B4EZY_C1kXHkAk-/0/1744814431010?e=1753315200&v=beta&t=YsotOvaHqCIWAms4gOGpwyDgJjTUVLPgf-0egfRGvqU",
              "network_distance": "DISTANCE_2",
              "location": "Altenkunstadt, Bavaria, Germany",
              "headline": "„Empfehlen. Unterstützen. Profitieren.“ – Das Bernert Partnernetzwerk",
              "summary": "Sie begleiten Menschen, die sanieren, vererben, verwalten oder verkaufen? Dann haben Sie oft frühzeitig Einblick in Immobilien, bei denen ein Verkauf oder eine Neuaufstellung ansteht.\n\nGenau hier setzen wir an:\nMit unserem Partnernetzwerk verbinden wir Fachleute aus Bau, Beratung & Betreuung mit einem starken Immobilienvertrieb – für mehr Nutzen, zusätzliche Erlöse und professionellen Service für Ihre Kunden.\n\nIhre Vorteile – individuell nach Branche:\n\n🔹 Anwälte (z. B. Familien-, Erb- oder Nachlassrecht)\nIhre Mandanten stehen oft vor komplexen Entscheidungen rund um Immobilien. Wir bieten neutrale Unterstützung beim Verkauf – fair, strukturiert und entlastend.\n\n🔹 Architekten & Planungsbüros\nSie wissen früh, wenn Gebäude saniert, erweitert oder verkauft werden. Wir unterstützen Ihre Kunden mit Vermarktung, Marktwertanalysen & Kommunikation – und honorieren Ihre Empfehlung.\n\n🔹 Banken & Finanzierungsberater\nSie erfahren oft zuerst von Verkaufsabsichten, Umfinanzierungen oder Zwangsverwertungen. Wir begleiten diskret und professionell – und helfen dabei, Ihre Finanzierung abzusichern.\n\n🔹 Bauunternehmer & Bauträger\nSie suchen Grundstücke, Fix&Flip-Projekte oder Vertriebspartner? Wir liefern passende Off-Market-Objekte und übernehmen den Verkauf Ihrer Einheiten – zuverlässig und effizient.\n\n🔹 Hausverwalter & Immobilienverwalter\nEigentümerwechsel? Wir kümmern uns um Verkauf, Kommunikation & Übergabe – während Sie als Verwalter mit zusätzlichem Service punkten und optional von Provisionen profitieren.\n\n🔹 Soziale Träger & Stiftungen (z. B. Caritas, AWO, Betreuer)\nSie suchen Wohnlösungen oder verwalten Vermögen? Wir helfen bei Verkauf & Ankauf von Immobilien – sozialverträglich, fair und rechtssicher.\n\n🔹 Steuerberater & Wirtschaftsprüfer\nSie begleiten Ihre Mandanten bei Nachfolge, Vermögensplanung oder Betriebsaufgabe. Wir sorgen für marktkonforme Immobilienbewertungen und entlasten bei der professionellen Vermarktung.\n\n👉 Sie möchten frühzeitig eingebunden sein – oder Ihre Mandanten unterstützen? Dann lassen Sie uns sprechen.\n\nWir bieten verlässliche Abwicklung, regionale Marktkenntnis und eine faire Partnervergütung für jede qualifizierte Empfehlung.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Bernert Immobilien GmbH",
                  "company_id": "36935681",
                  "location": "Burgkunstadt, Bavaria, Germany",
                  "industry": [
                    "Real Estate"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 6,
                    "months": 4
                  },
                  "tenure_at_role": {
                    "years": 6,
                    "months": 4
                  }
                }
              ],
              "open_profile": false,
              "premium": true,
              "recently_hired": true,
              "shared_connections_count": 3,
              "recent_posts_count": 2
            }
          ],
          "config": {
            "url": "https://www.linkedin.com/sales/search/people?query=(recentSearchParam%3A(id%3A4460375002%2CdoLogHistory%3Atrue)%2Cfilters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1.000%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A96%2Ctext%3AIT-Dienstleistungen%2520und%2520IT-Beratung%2CselectionType%3AEXCLUDED)))%2C(type%3APOSTAL_CODE%2Cvalues%3AList((id%3A103950180%2Ctext%3A96215%252C%2520Lichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED))%2CselectedSubFilter%3A35)%2C(type%3ACOMPANY_HEADQUARTERS%2Cvalues%3AList((id%3A101166762%2Ctext%3ALichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED)))%2C(type%3APROFILE_LANGUAGE%2Cvalues%3AList((id%3Ade%2Ctext%3ADeutsch%2CselectionType%3AINCLUDED)%2C(id%3Aen%2Ctext%3AEnglisch%2CselectionType%3AINCLUDED)))%2C(type%3ARELATIONSHIP%2Cvalues%3AList((id%3AS%2Ctext%3AKontakte%25202.%25C2%25A0Grades%2CselectionType%3AINCLUDED)%2C(id%3AO%2Ctext%3AKontakte%25203.%25C2%25A0Grades%2520und%2520dar%25C3%25BCber%2520hinaus%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_TITLE%2Cvalues%3AList((id%3A8%2Ctext%3ACEO%2CselectionType%3AINCLUDED)%2C(id%3A16%2Ctext%3AGesch%25C3%25A4ftsf%25C3%25BChrer%2CselectionType%3AINCLUDED)%2C(id%3A5204%2Ctext%3AStellvertretender%2520CEO%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AGeneral%2520Manager%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A8974%2Ctext%3AManaging%2520Director%2520Marketing%2CselectionType%3AINCLUDED)%2C(id%3A35%2Ctext%3AGr%25C3%25BCnder%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A103%2Ctext%3AMitbegr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A1405%2Ctext%3AGr%25C3%25BCndungspartner%2CselectionType%3AINCLUDED)%2C(id%3A18730%2Ctext%3AMitgr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A233%2Ctext%3AUnternehmer%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3AUnternehmensinhaber%2CselectionType%3AINCLUDED)%2C(id%3A9623%2Ctext%3AKleinbetriebsinhaber%2CselectionType%3AINCLUDED)%2C(id%3A71%2Ctext%3AIT-Spezialist%2CselectionType%3AINCLUDED)%2C(id%3A65%2Ctext%3AIT-Manager%2CselectionType%3AINCLUDED)%2C(id%3A163%2Ctext%3AIT%2520Director%2CselectionType%3AINCLUDED)%2C(id%3A688%2Ctext%3AIT-Leiter%2CselectionType%3AINCLUDED)))%2C(type%3APOSTED_ON_LINKEDIN%2Cvalues%3AList((id%3ARPOL%2Ctext%3AHaben%2520etwas%2520auf%2520LinkedIn%2520gepostet%2CselectionType%3AINCLUDED)))))&sessionId=dBfWl0aTSn2N9NCboUdZOg%3D%3D"
          },
          "paging": {
            "start": 0,
            "page_count": 10,
            "total_count": 17
          },
          "cursor": "eyJhY2NvdW50X2lkIjoibVkzeTlKWVpUa3VqVm56aDQ3eUduUSIsImxpbWl0IjoxMCwic3RhcnQiOjEwLCJ1cmwiOiJodHRwczovL3d3dy5saW5rZWRpbi5jb20vc2FsZXMvc2VhcmNoL3Blb3BsZT9xdWVyeT0ocmVjZW50U2VhcmNoUGFyYW0lM0EoaWQlM0E0NDYwMzc1MDAyJTJDZG9Mb2dIaXN0b3J5JTNBdHJ1ZSklMkNmaWx0ZXJzJTNBTGlzdCgodHlwZSUzQUNPTVBBTllfSEVBRENPVU5UJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0FCJTJDdGV4dCUzQTEtMTAlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBQyUyQ3RleHQlM0ExMS01MCUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0FEJTJDdGV4dCUzQTUxLTIwMCUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0FFJTJDdGV4dCUzQTIwMS01MDAlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBRiUyQ3RleHQlM0E1MDEtMS4wMDAlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpKSklMkModHlwZSUzQUlORFVTVFJZJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0E5NiUyQ3RleHQlM0FJVC1EaWVuc3RsZWlzdHVuZ2VuJTI1MjB1bmQlMjUyMElULUJlcmF0dW5nJTJDc2VsZWN0aW9uVHlwZSUzQUVYQ0xVREVEKSkpJTJDKHR5cGUlM0FQT1NUQUxfQ09ERSUyQ3ZhbHVlcyUzQUxpc3QoKGlkJTNBMTAzOTUwMTgwJTJDdGV4dCUzQTk2MjE1JTI1MkMlMjUyMExpY2h0ZW5mZWxzJTI1MkMlMjUyMEJheWVybiUyNTJDJTI1MjBEZXV0c2NobGFuZCUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCkpJTJDc2VsZWN0ZWRTdWJGaWx0ZXIlM0EzNSklMkModHlwZSUzQUNPTVBBTllfSEVBRFFVQVJURVJTJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0ExMDExNjY3NjIlMkN0ZXh0JTNBTGljaHRlbmZlbHMlMjUyQyUyNTIwQmF5ZXJuJTI1MkMlMjUyMERldXRzY2hsYW5kJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSkpJTJDKHR5cGUlM0FQUk9GSUxFX0xBTkdVQUdFJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0FkZSUyQ3RleHQlM0FEZXV0c2NoJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSUyQyhpZCUzQWVuJTJDdGV4dCUzQUVuZ2xpc2NoJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSkpJTJDKHR5cGUlM0FSRUxBVElPTlNISVAlMkN2YWx1ZXMlM0FMaXN0KChpZCUzQVMlMkN0ZXh0JTNBS29udGFrdGUlMjUyMDIuJTI1QzIlMjVBMEdyYWRlcyUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0FPJTJDdGV4dCUzQUtvbnRha3RlJTI1MjAzLiUyNUMyJTI1QTBHcmFkZXMlMjUyMHVuZCUyNTIwZGFyJTI1QzMlMjVCQ2JlciUyNTIwaGluYXVzJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSkpJTJDKHR5cGUlM0FDVVJSRU5UX1RJVExFJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0E4JTJDdGV4dCUzQUNFTyUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0ExNiUyQ3RleHQlM0FHZXNjaCUyNUMzJTI1QTRmdHNmJTI1QzMlMjVCQ2hyZXIlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBNTIwNCUyQ3RleHQlM0FTdGVsbHZlcnRyZXRlbmRlciUyNTIwQ0VPJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSUyQyhpZCUzQTE3JTJDdGV4dCUzQUdlbmVyYWwlMjUyME1hbmFnZXIlMjUzQWluJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSUyQyhpZCUzQTg5NzQlMkN0ZXh0JTNBTWFuYWdpbmclMjUyMERpcmVjdG9yJTI1MjBNYXJrZXRpbmclMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBMzUlMkN0ZXh0JTNBR3IlMjVDMyUyNUJDbmRlciUyNTNBaW4lMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBMTAzJTJDdGV4dCUzQU1pdGJlZ3IlMjVDMyUyNUJDbmRlciUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0ExNDA1JTJDdGV4dCUzQUdyJTI1QzMlMjVCQ25kdW5nc3BhcnRuZXIlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBMTg3MzAlMkN0ZXh0JTNBTWl0Z3IlMjVDMyUyNUJDbmRlciUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0EyMzMlMkN0ZXh0JTNBVW50ZXJuZWhtZXIlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBMSUyQ3RleHQlM0FVbnRlcm5laG1lbnNpbmhhYmVyJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSUyQyhpZCUzQTk2MjMlMkN0ZXh0JTNBS2xlaW5iZXRyaWVic2luaGFiZXIlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBNzElMkN0ZXh0JTNBSVQtU3BlemlhbGlzdCUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCklMkMoaWQlM0E2NSUyQ3RleHQlM0FJVC1NYW5hZ2VyJTJDc2VsZWN0aW9uVHlwZSUzQUlOQ0xVREVEKSUyQyhpZCUzQTE2MyUyQ3RleHQlM0FJVCUyNTIwRGlyZWN0b3IlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpJTJDKGlkJTNBNjg4JTJDdGV4dCUzQUlULUxlaXRlciUyQ3NlbGVjdGlvblR5cGUlM0FJTkNMVURFRCkpKSUyQyh0eXBlJTNBUE9TVEVEX09OX0xJTktFRElOJTJDdmFsdWVzJTNBTGlzdCgoaWQlM0FSUE9MJTJDdGV4dCUzQUhhYmVuJTI1MjBldHdhcyUyNTIwYXVmJTI1MjBMaW5rZWRJbiUyNTIwZ2Vwb3N0ZXQlMkNzZWxlY3Rpb25UeXBlJTNBSU5DTFVERUQpKSkpKSZzZXNzaW9uSWQ9ZEJmV2wwYVRTbjJOOU5DYm9VZFpPZyUzRCUzRCJ9"
        }
      }
    ],
    "Second 10": [
      {
        "json": {
          "object": "LinkedinSearch",
          "items": [
            {
              "type": "PEOPLE",
              "id": "ACwAABJAylkBmptvgh8iSmVsOl7gGjHAW6KnZk4",
              "industry": null,
              "name": "Andre Schäfer",
              "first_name": "Andre",
              "last_name": "Schäfer",
              "member_urn": "urn:li:member:306235993",
              "public_identifier": "andreschaeferseo",
              "public_profile_url": "https://www.linkedin.com/in/andreschaeferseo",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAABJAylkBmptvgh8iSmVsOl7gGjHAW6KnZk4,NAME_SEARCH,PiCf",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4D03AQGfD66keGUdnA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1715097398798?e=1753315200&v=beta&t=Rc2AgJyVMxe5BCWkFtlhVgHY3gxLhYeRs8CeCWRM1l4",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4D03AQGfD66keGUdnA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1715097398798?e=1753315200&v=beta&t=Oaq7AJ3pLKXmxNljpJ8_7-sDM2E6UyavAkepw5bUTZQ",
              "network_distance": "DISTANCE_2",
              "location": "Kronach, Bavaria, Germany",
              "headline": "German SEO / Search Engine Optimization Specialist - Dancing with the Search Engine.",
              "summary": "André Schäfer - Gründer und Geschäftsführer der Agentur sagemedia GmbH. SEO Experte und Mastermind.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "sagemedia GmbH",
                  "company_id": "67210754",
                  "location": "Staffelstein, Bavaria, Germany",
                  "industry": [
                    "Advertising Services"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 2,
                    "months": 6
                  },
                  "tenure_at_role": {
                    "years": 2,
                    "months": 6
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 11,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAABRBOvoB1aDdoB1Tfh3quJiH9vn8A8NhDJU",
              "industry": null,
              "name": "Herbert Böhmer",
              "first_name": "Herbert",
              "last_name": "Böhmer",
              "member_urn": "urn:li:member:339819258",
              "public_identifier": "herbert-b%C3%B6hmer-7b697a95",
              "public_profile_url": "https://www.linkedin.com/in/herbert-b%C3%B6hmer-7b697a95",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAABRBOvoB1aDdoB1Tfh3quJiH9vn8A8NhDJU,NAME_SEARCH,dWJG",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4E03AQEuHZ4-Fx5zOA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1653736115090?e=1753315200&v=beta&t=72F5w4rrp6pOU1WcMglKucD0nudnpQaMeN9DaYnpD9U",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4E03AQEuHZ4-Fx5zOA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1653736115091?e=1753315200&v=beta&t=eFzkEKh2QJ8IP4sN5Pp_xZOMrCEWWVr8Os-P1FCuct0",
              "network_distance": "DISTANCE_3",
              "location": "Ebensfeld, Bavaria, Germany",
              "headline": "LIVING EXCLUSIVE - Individualisierung ist unsere Leidenschaft\nGanzheitliche Konzept bis zur Realisierung von modularen Gebäuden, Saunen, Garten(t)räumen bis hin zur Gestaltung des Innenraums",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Living Exclusive",
                  "company_id": "80538005",
                  "location": "Ebensfeld, Bavaria, Germany",
                  "industry": [
                    "Architecture and Planning"
                  ],
                  "role": "Inhaberin",
                  "tenure_at_company": {
                    "years": 11,
                    "months": 6
                  },
                  "tenure_at_role": {
                    "years": 11,
                    "months": 6
                  }
                }
              ],
              "open_profile": false,
              "premium": false
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAEg5iy8BnvE_XxpKTFHowm1WjSl11fCoHg4",
              "industry": null,
              "name": "Wilhelm Wasikowski",
              "first_name": "Wilhelm",
              "last_name": "Wasikowski",
              "member_urn": "urn:li:member:1211730735",
              "public_identifier": "wilhelm-wasikowski-093981299",
              "public_profile_url": "https://www.linkedin.com/in/wilhelm-wasikowski-093981299",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAEg5iy8BnvE_XxpKTFHowm1WjSl11fCoHg4,NAME_SEARCH,BUg3",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQEZ2SgXoxYzmQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1710758971140?e=1753315200&v=beta&t=SDlx1Es6Umb9ZuQXy5rzUg_O_42KeKMre_SmrQCVsGY",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQEZ2SgXoxYzmQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1710758971140?e=1753315200&v=beta&t=MA_zWmhtG-oewpF0baXc2lj-LMvCBXlofr0PLuWngUA",
              "network_distance": "DISTANCE_3",
              "location": "Pfaffendorf, Bavaria, Germany",
              "headline": "Displays zur nachhaltigen Warenpräsentation für Marken @Wasi-Displays.de",
              "summary": "Seit 1953 und seit mehr als drei Generationen ist der Name Wasikowski mit dem Werkstoff Holz verbunden. Heute fertigt das Lichtenfelser Familienunternehmen unter anderem nachhaltige Displays zur Warenpräsentation. Seit 2015 führt Johannes Wasikowski das erfolgreiche mittelständische Unternehmen Wasi Displays mit Sitz im oberfränkischen Lichtenfels zusammen mit seinem Vater und Geschäftsführer Wilhelm Wasikowski. Der Schreinermeister ist verantwortlich für die Konstruktion und das Produktdesign. Bekannt ist Wasi Displays deutschlandweit für seine nachhaltigen PoS-Displays im stationären Einzelhandel, die es mit seinen rund 60 Mitarbeitern aus dem Werkstoff Holz fertigt. Dazu zählen Verkaufsdisplays als individuelle Bodendisplays oder Thekendisplays. Dabei hat Wasi Displays die Marken seiner Kundinnen und Kunden stets im Blick und unterstützt sie dabei, die Wiedererkennung zu steigern und den Absatz am Point of Sale zu verbessern.\nWasi Displays ist ein modernes Unternehmen, welches alle Fertigungs- und Arbeitsschritte für Langzeitdisplays im eigenen Unternehmen unter einem Dach anbieten kann: Von der Holzfertigung über die Metall- und Kunststoffverarbeitung, bis hin zu Lackierungen und dem Digitaldruck. Und obwohl diese Vielfalt zu den Erfolgsfaktoren des Unternehmens gehört, ist die große Liebe für den Werkstoff Holz geblieben. Dabei spielte und spielt das Thema Nachhaltigkeit schon immer eine wichtige Rolle.",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Wasi-Displays",
                  "company_id": "14612688",
                  "location": "Lichtenfels, Bavaria, Germany",
                  "industry": [
                    "Furniture"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 44,
                    "months": 8
                  },
                  "tenure_at_role": {
                    "years": 44,
                    "months": 8
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAApFP8wBpsM6UqQ-1wrgCBj-EzkPjmYmhM0",
              "industry": null,
              "name": "Manfred Degen / MD Media  und Consult",
              "first_name": "Manfred",
              "last_name": "Degen / MD Media  und Consult",
              "member_urn": "urn:li:member:172310476",
              "public_identifier": "manfred-degen-md-media-und-consult",
              "public_profile_url": "https://www.linkedin.com/in/manfred-degen-md-media-und-consult",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAApFP8wBpsM6UqQ-1wrgCBj-EzkPjmYmhM0,NAME_SEARCH,6PUn",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4D03AQGQyvgPIPX44g/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1565101193249?e=1753315200&v=beta&t=uv1zEuV-YgZ22FPyim0Sp4dFXJ4avmN_ToHO6vJ1efc",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4D03AQGQyvgPIPX44g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1565101193340?e=1753315200&v=beta&t=LfD1vdDAEu3Cxp8yzcm7SzKhwo_ScDhFBKzGtHZvq_w",
              "network_distance": "DISTANCE_2",
              "location": "Altenkunstadt, Bavaria, Germany",
              "headline": "Unternehmensinhaber bei MD Media & Consult",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "MD Media & Consult",
                  "company_id": null,
                  "location": null,
                  "industry": [],
                  "role": "Unternehmensinhaber",
                  "tenure_at_company": {
                    "years": 8,
                    "months": 9
                  },
                  "tenure_at_role": {
                    "years": 8,
                    "months": 9
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 3
            },
            {
              "type": "PEOPLE",
              "id": "ACwAAERYnQYBBVTFCQpnQIo9hDm6-iUHShqQNb4",
              "industry": null,
              "name": "Benedikt Raab",
              "first_name": "Benedikt",
              "last_name": "Raab",
              "member_urn": "urn:li:member:1146658054",
              "public_identifier": "benedikt-raab",
              "public_profile_url": "https://www.linkedin.com/in/benedikt-raab",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAAERYnQYBBVTFCQpnQIo9hDm6-iUHShqQNb4,NAME_SEARCH,BTRb",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/D4E03AQHxgvaJ38Vitg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1698795858739?e=1753315200&v=beta&t=KLVkZA_R5gmgPFFlUhP_w0wo7jge7lH9Qvj3Q7yaa1o",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/D4E03AQHxgvaJ38Vitg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1698795858739?e=1753315200&v=beta&t=KytCh0nsJGxauvjoJe74-KkA9ANwhpfEPtNa-urQyxM",
              "network_distance": "DISTANCE_3",
              "location": "Ebensfeld, Bavaria, Germany",
              "headline": "5. Generation, Bauhandwerk",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Raab Baugesellschaft",
                  "company_id": "12764776",
                  "location": "Ebensfeld, Bavaria, Germany",
                  "industry": [
                    "Construction"
                  ],
                  "role": "Führungskraft",
                  "tenure_at_company": {
                    "years": 5,
                    "months": 3
                  },
                  "tenure_at_role": {
                    "years": 5,
                    "months": 3
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAADKUxUkBvlty6Jv60a-1UurLwImzf2Q41AM",
              "industry": null,
              "name": "Simon Swoboda",
              "first_name": "Simon",
              "last_name": "Swoboda",
              "member_urn": "urn:li:member:848610633",
              "public_identifier": "simon-swoboda-1492461b8",
              "public_profile_url": "https://www.linkedin.com/in/simon-swoboda-1492461b8",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAADKUxUkBvlty6Jv60a-1UurLwImzf2Q41AM,NAME_SEARCH,Zu84",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C4D03AQHYCYZBG5Mi6g/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1610006195758?e=1753315200&v=beta&t=y-Xirru3qVvyQsN1ltQAKYOwMZqyZL1JUA_7eEDyYRY",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C4D03AQHYCYZBG5Mi6g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1610006195758?e=1753315200&v=beta&t=I4DqJGFBeEPNSaBc09tmY8SUzbe8Wl0T1tNfG1klX7w",
              "network_distance": "DISTANCE_2",
              "location": "Altenkunstadt, Bavaria, Germany",
              "headline": "Kranservice Swoboda",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "Kranservice Swoboda",
                  "company_id": "86893086",
                  "description": "DGUV-Prüfungen von Kranen, Winden und Lastaufnahmeeinrichtungen - Reparatur, Wartung und Ersatzteilversorgung aller gängiger Kranhersteller - Ausbildung von Kranführern",
                  "location": "Altenkunstadt, Bavaria, Germany",
                  "industry": [
                    "Commercial and Industrial Machinery Maintenance"
                  ],
                  "role": "Geschäftsführer",
                  "tenure_at_company": {
                    "years": 3,
                    "months": 1
                  },
                  "tenure_at_role": {
                    "years": 3,
                    "months": 1
                  }
                }
              ],
              "open_profile": false,
              "premium": false,
              "shared_connections_count": 2,
              "recent_posts_count": 1
            },
            {
              "type": "PEOPLE",
              "id": "ACwAACFDcRsBPiUkOICQpAb82xc1VBmKwg7VfPg",
              "industry": null,
              "name": "Bertram Klee",
              "first_name": "Bertram",
              "last_name": "Klee",
              "member_urn": "urn:li:member:558067995",
              "public_identifier": "bertram-klee-023a90136",
              "public_profile_url": "https://www.linkedin.com/in/bertram-klee-023a90136",
              "profile_url": "https://www.linkedin.com/sales/lead/ACwAACFDcRsBPiUkOICQpAb82xc1VBmKwg7VfPg,NAME_SEARCH,u61I",
              "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5603AQE2eYO938yTFg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1583583222103?e=1753315200&v=beta&t=ncUdooMoWbAQX7PsyWW7BZO27zrCx66k93sF0585u5s",
              "profile_picture_url_large": "https://media.licdn.com/dms/image/v2/C5603AQE2eYO938yTFg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1583583222159?e=1753315200&v=beta&t=mDx_lvDPr8WJvejWOZSLX26fuCNFfJ_54dj_vxHbhNE",
              "network_distance": "DISTANCE_3",
              "location": "Staffelstein, Bavaria, Germany",
              "headline": "Founder / CEO / Geschäftsführer der Firmen BK - Innovative Technik GmbH und ISP - Innovative Surface Processing GmbH",
              "summary": "Das Systemhaus in den Bereichen:\n\n- Metal Processing \n\n- Foundry Technology \n\n- Surface Systems\n\n- Innovative Automations \n\n- Conveying Systems\n\n- Industrial Equipment",
              "pending_invitation": false,
              "current_positions": [
                {
                  "company": "ISP - Innovative Surface Processing GmbH",
                  "company_id": "67764724",
                  "location": "Staffelstein, Bavaria, Germany",
                  "industry": [
                    "Machinery Manufacturing"
                  ],
                  "role": "CEO / Geschäftsführer",
                  "tenure_at_company": {
                    "years": 4,
                    "months": 5
                  },
                  "tenure_at_role": {
                    "years": 4,
                    "months": 5
                  }
                }
              ],
              "open_profile": true,
              "premium": true,
              "recent_posts_count": 2
            }
          ],
          "config": {
            "url": "https://www.linkedin.com/sales/search/people?query=(recentSearchParam%3A(id%3A4460375002%2CdoLogHistory%3Atrue)%2Cfilters%3AList((type%3ACOMPANY_HEADCOUNT%2Cvalues%3AList((id%3AB%2Ctext%3A1-10%2CselectionType%3AINCLUDED)%2C(id%3AC%2Ctext%3A11-50%2CselectionType%3AINCLUDED)%2C(id%3AD%2Ctext%3A51-200%2CselectionType%3AINCLUDED)%2C(id%3AE%2Ctext%3A201-500%2CselectionType%3AINCLUDED)%2C(id%3AF%2Ctext%3A501-1.000%2CselectionType%3AINCLUDED)))%2C(type%3AINDUSTRY%2Cvalues%3AList((id%3A96%2Ctext%3AIT-Dienstleistungen%2520und%2520IT-Beratung%2CselectionType%3AEXCLUDED)))%2C(type%3APOSTAL_CODE%2Cvalues%3AList((id%3A103950180%2Ctext%3A96215%252C%2520Lichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED))%2CselectedSubFilter%3A35)%2C(type%3ACOMPANY_HEADQUARTERS%2Cvalues%3AList((id%3A101166762%2Ctext%3ALichtenfels%252C%2520Bayern%252C%2520Deutschland%2CselectionType%3AINCLUDED)))%2C(type%3APROFILE_LANGUAGE%2Cvalues%3AList((id%3Ade%2Ctext%3ADeutsch%2CselectionType%3AINCLUDED)%2C(id%3Aen%2Ctext%3AEnglisch%2CselectionType%3AINCLUDED)))%2C(type%3ARELATIONSHIP%2Cvalues%3AList((id%3AS%2Ctext%3AKontakte%25202.%25C2%25A0Grades%2CselectionType%3AINCLUDED)%2C(id%3AO%2Ctext%3AKontakte%25203.%25C2%25A0Grades%2520und%2520dar%25C3%25BCber%2520hinaus%2CselectionType%3AINCLUDED)))%2C(type%3ACURRENT_TITLE%2Cvalues%3AList((id%3A8%2Ctext%3ACEO%2CselectionType%3AINCLUDED)%2C(id%3A16%2Ctext%3AGesch%25C3%25A4ftsf%25C3%25BChrer%2CselectionType%3AINCLUDED)%2C(id%3A5204%2Ctext%3AStellvertretender%2520CEO%2CselectionType%3AINCLUDED)%2C(id%3A17%2Ctext%3AGeneral%2520Manager%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A8974%2Ctext%3AManaging%2520Director%2520Marketing%2CselectionType%3AINCLUDED)%2C(id%3A35%2Ctext%3AGr%25C3%25BCnder%253Ain%2CselectionType%3AINCLUDED)%2C(id%3A103%2Ctext%3AMitbegr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A1405%2Ctext%3AGr%25C3%25BCndungspartner%2CselectionType%3AINCLUDED)%2C(id%3A18730%2Ctext%3AMitgr%25C3%25BCnder%2CselectionType%3AINCLUDED)%2C(id%3A233%2Ctext%3AUnternehmer%2CselectionType%3AINCLUDED)%2C(id%3A1%2Ctext%3AUnternehmensinhaber%2CselectionType%3AINCLUDED)%2C(id%3A9623%2Ctext%3AKleinbetriebsinhaber%2CselectionType%3AINCLUDED)%2C(id%3A71%2Ctext%3AIT-Spezialist%2CselectionType%3AINCLUDED)%2C(id%3A65%2Ctext%3AIT-Manager%2CselectionType%3AINCLUDED)%2C(id%3A163%2Ctext%3AIT%2520Director%2CselectionType%3AINCLUDED)%2C(id%3A688%2Ctext%3AIT-Leiter%2CselectionType%3AINCLUDED)))%2C(type%3APOSTED_ON_LINKEDIN%2Cvalues%3AList((id%3ARPOL%2Ctext%3AHaben%2520etwas%2520auf%2520LinkedIn%2520gepostet%2CselectionType%3AINCLUDED)))))&sessionId=dBfWl0aTSn2N9NCboUdZOg%3D%3D"
          },
          "paging": {
            "start": 10,
            "page_count": 7,
            "total_count": 17
          },
          "cursor": null
        }
      }
    ],
    "Webhook3": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ],
    "Basic LLM Chain3": [
      {
        "json": {
          "output": {
            "api": "sales_navigator",
            "category": "companies",
            "headcount": [
              {
                "min": 1,
                "max": 50
              }
            ],
            "location": {
              "include": [
                "103644278",
                "101165590",
                "102221843",
                "101452733"
              ]
            },
            "industry": {
              "include": [
                "4",
                "96",
                "34",
                "1810",
                "27"
              ]
            },
            "has_job_offers": false,
            "recent_activities": [
              "funding_events"
            ],
            "network_distance": [
              1,
              2,
              3
            ]
          }
        }
      }
    ]
  },
  "versionId": "a7f8507d-44ba-4f25-947f-b16ec2ab0d3a",
  "triggerCount": 5,
  "tags": []
}